*
*:after
*:before
    box-sizing border-box

html
body
    height 100%

::selection
    background $azulEscuro
    color #fff

::-moz-selection
    background $azulEscuro
    color #fff

.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

a
    color inherit
    text-decoration none
    transition color .3s
