desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1280px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$img($image)
    url('../../images/' + $image)

$azulClaro  = #CDE5F5
$azulClaro2 = #E6F2FA
$azulEscuro = #132C61
$azulMarca  = #1A5DA6
$azul       = #004485

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Raleway:100,300,400,700|Roboto:400,700')

opensans($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700

raleway($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Raleway', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == thin
        font-weight 100
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700

roboto($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Roboto', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700
