@import 'vars.less';

.conteudo{
	clear:both;
	padding-top:50px;
	font-size:0;
	section{
		.inline;
		width:460px;
		@media @mobile{width:100%;}
		margin-right:60px;
		padding-bottom:170px;
		h1{
			.roboto(40px);
			color:@amarelo;
			line-height:110%;
			margin:0;
		}
		p.branco{
			margin:25px 0 55px 0;
			color:#fff;
			line-height:130%;
			.roboto(22px, bold);
			a{
				color:#fff;
				.transition;
				&:active, &:visited{color:#fff;}
				&:hover{color:@amarelo;}
			}
		}
		.resposta{
			padding:10px 15px;
			text-align:center;
			.calibri(14px, bold);
		}
		form{
			h2{
				.roboto(20px);
				color:@amarelo;
			}
			input[type="text"],
			input[type="email"]{
				width:440px;
				@media @mobile{box-sizing:border-box;width:100%;}
				padding:5px 10px;
				border:0;
				margin:4px 0;
				background:#fff;
				.calibri(14px);
				color:#000;
				.placeholder(#A1A1A1);
			}
			textarea{
				width:440px;
				@media @mobile{box-sizing:border-box;width:100%;}
				padding:5px 10px;
				resize:none;
				overflow:auto;
				border:0;
				margin:4px 0;
				background:#fff;
				.calibri(14px);
				color:#000;
				height:160px;
				.placeholder(#A1A1A1);
			}
			input[type="submit"]{
				display:block;
				text-align:center;
				width:460px;
				@media @mobile{box-sizing:border-box;width:100%;}
				border:0;
				background:@azul_medio;
				height:30px;
				line-height:30px;
				color:#fff;
				.calibri(14px, bold);
				.transition;
				cursor:pointer;
				&:hover{background:@amarelo;color:@azul_medio;}
			}
		}
		.press{
			padding:40px 0 10px 0;
			h3{
				color:@amarelo;
				.roboto(20px);
				padding-bottom: 20px;
			}
			img{
				display:block;
			}
			p{
				color:#fff;
				.calibri(14px);
				padding-left:30px;
				line-height:130%;
				margin-left:30px;
				border-left:1px #fff solid;
				a{
					color:#fff;
					.transition;
					&:active, &:visited{color:#fff;}
					&:hover{color:@amarelo;}
				}
			}
			.coluna{.inline;}
		}
	}
	aside{
		width:460px;
		@media @mobile{width:100%;}
		margin-top:-90px;
		.inline;
		iframe{border:1px @amarelo solid;}
		p{
			color:#fff;
			.calibri(12px);
			line-height:130%;
			margin-top:20px;
			@media @mobile{margin-bottom: 20px}
		}
	}
}
