.centro{width:100%;padding-left:0;padding-right:0;margin:0 auto}@media (min-width: 0px) and (max-width: 639px){.centro{overflow:hidden}}@media (min-width: 0px) and (max-width: 639px) and (orientation: landscape){.centro{max-width:470px}}@media (min-width: 0px) and (max-width: 639px) and (orientation: portrait){.centro{max-width:310px}}@media (min-width: 640px) and (max-width: 979px){.centro{max-width:710px}}@media (min-width: 980px){.centro{max-width:980px}}
.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top}
.aviso{color:#9f6000;background-color:#feefb3;border:2px #9f6000 solid}
.sucesso{border:2px #c6d880 solid;background-color:#e6efc2;color:#264409}
.falha{border:2px #d8000c solid;color:#d8000c;background-color:#ffbaba}
.offscreen{display:block;text-indent:-999999999px}
.align-right{text-align:right}
.centro{width:100%;padding-left:0;padding-right:0;margin:0 auto}@media (min-width: 0px) and (max-width: 639px){.centro{overflow:hidden}}@media (min-width: 0px) and (max-width: 639px) and (orientation: landscape){.centro{max-width:470px}}@media (min-width: 0px) and (max-width: 639px) and (orientation: portrait){.centro{max-width:310px}}@media (min-width: 640px) and (max-width: 979px){.centro{max-width:710px}}@media (min-width: 980px){.centro{max-width:980px}}
.clear{clear:both}
.main #banners{font-size:0;clear:both}.main #banners #fsc{width:220px;height:220px;display:inline-block;*display:inline;zoom:1;vertical-align:top}
@media (min-width: 0px) and (max-width: 639px){.main #banners #fsc{display:none}}
.main #banners #slides{width:418px;height:328px;overflow:hidden;margin-top:-108px;position:relative;display:inline-block;*display:inline;zoom:1;vertical-align:top}@media (min-width: 0px) and (max-width: 639px){.main #banners #slides{height:290px;max-width:100%;margin-top:0;padding-top:40px}}.main #banners #slides #pager{position:absolute;right:10px;top:10px;text-align:right;z-index:99999}.main #banners #slides #pager a{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:8px;height:8px;margin:0 2px;-webkit-border-radius:100%;-moz-border-radius:100%;-o-border-radius:100%;border-radius:100%;behavior:url('PIE.htc');background:#fff;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}.main #banners #slides #pager a:hover,.main #banners #slides #pager a.activeSlide{background:#edb900}
.main #banners #slides .animate{width:418px;height:328px;overflow:hidden;position:absolute;top:0;left:0}.main #banners #slides .animate .slide{position:absolute;top:0;left:0}.main #banners #slides .animate .slide img{position:absolute;top:0;left:0;z-index:1}
.main #banners #slides .animate .slide h1{font-family:'Roboto Condensed',sans-serif;font-size:40px;font-weight:bold;color:#fff;position:absolute;z-index:1;top:250px;left:20px;width:398px;line-height:120%;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}
.main #banners #slides .animate .slide h2{font-family:'Roboto Condensed',sans-serif;font-size:14px;font-weight:bold;color:#fff;position:absolute;z-index:2;top:0;left:0;top:295px;left:20px;width:398px;line-height:120%;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}
.main #banners #slides .animate .slide:active h1,.main #banners #slides .animate .slide:visited h1,.main #banners #slides .animate .slide:active h2,.main #banners #slides .animate .slide:visited h2{color:#fff}
.main #banners #slides .animate .slide:hover h1,.main #banners #slides .animate .slide:hover h2{color:#007cc3}
@media (min-width: 980px){.main #banners #slides .animate .slide.escondido-desktop{display:none}}
.main #banners #banners-laterais{display:inline-block;*display:inline;zoom:1;vertical-align:top;margin-top:-108px;height:330px;width:342px}@media (min-width: 0px) and (max-width: 979px){.main #banners #banners-laterais{display:none}}.main #banners #banners-laterais .primeiro{position:relative;display:inline-block;*display:inline;zoom:1;vertical-align:top;height:280px;width:140px}.main #banners #banners-laterais .primeiro img{height:280px;width:140px;position:absolute;z-index:1;top:0;left:0}
.main #banners #banners-laterais .primeiro span{font-family:'Roboto Condensed',sans-serif;font-size:16px;font-weight:bold;color:#fff;z-index:3;display:block;line-height:135%;position:absolute;top:49px;width:105px;left:17px;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}.main #banners #banners-laterais .primeiro span strong{font-size:28px}
.main #banners #banners-laterais .primeiro:active span,.main #banners #banners-laterais .primeiro:visited span{color:#fff}
.main #banners #banners-laterais .primeiro:hover span{color:#edb900}
.main #banners #banners-laterais .segundo{display:inline-block;*display:inline;zoom:1;vertical-align:top;height:280px;width:202px;position:relative}.main #banners #banners-laterais .segundo img{height:280px;width:202px;position:absolute;top:0;left:0;z-index:1}
.main #banners #banners-laterais .segundo .texto{position:absolute;z-index:3;top:205px;left:17px;line-height:110%;color:#fff;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;font-family:'Roboto Condensed',sans-serif;font-size:16px;font-weight:bold}.main #banners #banners-laterais .segundo .texto span{display:block;margin-top:6px;font-size:40px;line-height:100%}
.main #banners #banners-laterais .segundo:active .texto,.main #banners #banners-laterais .segundo:visited .texto{color:#fff}
.main #banners #banners-laterais .segundo:hover .texto{color:#a2cf6d}
.main #banners #banners-laterais .terceiro{background:#385880;display:block;clear:both;padding:8px 0 0 17px;height:40px;margin:0;color:#9ff;line-height:220%;position:relative;font-family:'Roboto Condensed',sans-serif;font-size:14px;font-weight:bold;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}.main #banners #banners-laterais .terceiro:active,.main #banners #banners-laterais .terceiro:visited{color:#9ff}
.main #banners #banners-laterais .terceiro:hover{background:#112c4c}
.main #banners #banners-laterais .terceiro:after{content:"";-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;display:block;position:absolute;left:314px;top:50%;margin-top:-8px;width:16px;height:16px;background:url('../../images/home/seta-circulo-azul.png') no-repeat center}
.main #conteudo-home{width:100%;padding-left:0;padding-right:0;margin:0 auto;margin:28px auto 65px auto;font-size:0}@media (min-width: 0px) and (max-width: 639px){.main #conteudo-home{overflow:hidden}}@media (min-width: 0px) and (max-width: 639px) and (orientation: landscape){.main #conteudo-home{max-width:470px}}@media (min-width: 0px) and (max-width: 639px) and (orientation: portrait){.main #conteudo-home{max-width:310px}}@media (min-width: 640px) and (max-width: 979px){.main #conteudo-home{max-width:710px}}@media (min-width: 980px){.main #conteudo-home{max-width:980px}}.main #conteudo-home .coluna-esquerda{display:inline-block;*display:inline;zoom:1;vertical-align:top;margin-right:40px;width:600px}@media (min-width: 0px) and (max-width: 639px){.main #conteudo-home .coluna-esquerda{max-width:100%}}.main #conteudo-home .coluna-esquerda #sociais{font-family:'Roboto Condensed',sans-serif;font-size:28px;font-weight:bold;color:#edb900;height:56px;margin-bottom:10px}@media (min-width: 0px) and (max-width: 639px){.main #conteudo-home .coluna-esquerda #sociais{display:block;height:auto;line-height:170%}}.main #conteudo-home .coluna-esquerda #sociais span{display:inline-block;*display:inline;zoom:1;vertical-align:top;line-height:112%;margin-right:18px}@media (min-width: 0px) and (max-width: 639px){.main #conteudo-home .coluna-esquerda #sociais span{display:block}}
.main #conteudo-home .coluna-esquerda #sociais .like{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:70px;padding-top:12px}.main #conteudo-home .coluna-esquerda #sociais .like .fb-like span{vertical-align:top !important}
.main #conteudo-home .coluna-esquerda #sociais a{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:30px;height:30px;margin:2px 2px;font-size:2px;text-indent:-9999px;overflow:hidden}.main #conteudo-home .coluna-esquerda #sociais a.link-fb{background:url('../../images/layout/icone-facebook.png') center top no-repeat}.main #conteudo-home .coluna-esquerda #sociais a.link-fb:hover{background-position:center -30px}
.main #conteudo-home .coluna-esquerda #sociais a.link-tw{background:url('../../images/layout/icone-twitter.png') center top no-repeat}.main #conteudo-home .coluna-esquerda #sociais a.link-tw:hover{background-position:center -30px}
.main #conteudo-home .coluna-esquerda #sociais a.link-yt{background:url('../../images/layout/icone-youtube.png') center top no-repeat}.main #conteudo-home .coluna-esquerda #sociais a.link-yt:hover{background-position:center -30px}
.main #conteudo-home .coluna-esquerda #sociais a.link-ig{background:url('../../images/layout/icone-instagram.png') center top no-repeat}.main #conteudo-home .coluna-esquerda #sociais a.link-ig:hover{background-position:center -30px}
.main #conteudo-home .coluna-esquerda #sociais a.link-gp{background:url('../../images/layout/icone-googleplus.png') center top no-repeat}.main #conteudo-home .coluna-esquerda #sociais a.link-gp:hover{background-position:center -30px}
.main #conteudo-home .coluna-esquerda #destaque{width:100%;position:relative;padding-bottom:56.25%;background:#edb900}.main #conteudo-home .coluna-esquerda #destaque iframe{position:absolute;top:0;left:0;width:100%;height:100%}
.main #conteudo-home aside{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:340px}@media (min-width: 0px) and (max-width: 979px){.main #conteudo-home aside{display:block;width:100%;margin:30px auto 0 auto}}.main #conteudo-home aside .aside-banner{display:block;max-width:340px;width:100%;height:auto;margin:0 auto}.main #conteudo-home aside .aside-banner img{width:100%;height:auto}
.main #conteudo-home aside form{background:#fff;padding:10px;margin-bottom:24px;font-size:0}@media (min-width: 0px) and (max-width: 979px){.main #conteudo-home aside form{max-width:350px;margin-right:auto;margin-left:auto}}.main #conteudo-home aside form .coluna-esquerda-lecom{display:inline-block;vertical-align:top;width:120px;margin-right:10px}.main #conteudo-home aside form .coluna-esquerda-lecom input{max-width:100%;box-sizing:border-box}
.main #conteudo-home aside form .coluna-esquerda-lecom img{display:block;margin:5px 0 0 0}
.main #conteudo-home aside form .coluna-direita-lecom{display:inline-block;vertical-align:top;width:190px;position:relative}.main #conteudo-home aside form .coluna-direita-lecom .texto{width:63px;height:73px;position:absolute;right:7px;bottom:39px}.main #conteudo-home aside form .coluna-direita-lecom .texto p{color:#fff;line-height:120%;height:33px;font-family:'Calibri','Arial','Verdana','Tahoma',sans-serif;font-size:9px;font-weight:normal}
.main #conteudo-home aside form .coluna-direita-lecom .texto a{height:40px;display:block;box-sizing:border-box;background-color:#ec6619;color:#fff;text-align:center;margin-top:2px;line-height:130%;padding:8px;font-family:'Calibri','Arial','Verdana','Tahoma',sans-serif;font-size:10px;font-weight:bold;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;border-radius:4px;behavior:url('PIE.htc');-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}.main #conteudo-home aside form .coluna-direita-lecom .texto a:hover{color:#391834}
.main #conteudo-home aside form span{font-family:'Calibri','Arial','Verdana','Tahoma',sans-serif;font-size:11px;font-weight:bold;color:#1a5da6;line-height:140%}
.main #conteudo-home aside form input[type="text"],.main #conteudo-home aside form input[type="password"]{display:block;border:0;margin:0 5px 0 0;padding:0 5px;background:#bacee5;width:128px;height:20px;margin-top:5px;font-family:'Calibri','Arial','Verdana','Tahoma',sans-serif;font-size:12px;font-weight:normal;color:#000}.main #conteudo-home aside form input[type="text"]::-webkit-input-placeholder,.main #conteudo-home aside form input[type="password"]::-webkit-input-placeholder{color:#000}
.main #conteudo-home aside form input[type="text"]:-moz-placeholder,.main #conteudo-home aside form input[type="password"]:-moz-placeholder{color:#000}
.main #conteudo-home aside form input[type="text"]::-moz-placeholder,.main #conteudo-home aside form input[type="password"]::-moz-placeholder{color:#000}
.main #conteudo-home aside form input[type="text"]:-ms-input-placeholder,.main #conteudo-home aside form input[type="password"]:-ms-input-placeholder{color:#000}
.main #conteudo-home aside form input[type="submit"]{display:block;width:100%;height:20px;line-height:20px;text-align:center;background:#007cc4;color:#fff;border:0;margin:5px 0 0 0;padding:0;cursor:pointer;font-family:'Calibri','Arial','Verdana','Tahoma',sans-serif;font-size:10px;font-weight:bold;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}.main #conteudo-home aside form input[type="submit"]:hover{background:#007cc3;color:#fff}
@media (min-width: 0px) and (max-width: 639px) and (orientation: portrait){.main #conteudo-home aside form input[type="submit"]{display:block;margin:10px auto}}
.main #conteudo-home aside ul#lista-novidades{border-top:1px #fff solid}.main #conteudo-home aside ul#lista-novidades li{border-bottom:1px #fff solid}.main #conteudo-home aside ul#lista-novidades li a{display:block;padding:14px 0 14px 0;min-height:70px;background:url('../../images/layout/seta-branca.png') transparent right 95% no-repeat;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;-webkit-animation-name:animacaoSetaHome;-webkit-animation-duration:1s;-webkit-animation-timing-function:ease;-webkit-animation-delay:0;-webkit-animation-iteration-count:infinite;-webkit-animation-direction:normal;-webkit-animation-play-state:paused;-moz-animation-name:animacaoSetaHome;-moz-animation-duration:1s;-moz-animation-timing-function:ease;-moz-animation-delay:0;-moz-animation-iteration-count:infinite;-moz-animation-direction:normal;-moz-animation-play-state:paused;-o-animation-name:animacaoSetaHome;-o-animation-duration:1s;-o-animation-timing-function:ease;-o-animation-delay:0;-o-animation-iteration-count:infinite;-o-animation-direction:normal;-o-animation-play-state:paused;animation-name:animacaoSetaHome;animation-duration:1s;animation-timing-function:ease;animation-delay:0;animation-iteration-count:infinite;animation-direction:normal;animation-play-state:paused}.main #conteudo-home aside ul#lista-novidades li a .imagem{width:70px;height:70px;background-color:#fff;float:left;margin-top:-14px}.main #conteudo-home aside ul#lista-novidades li a .imagem img{max-width:70px;max-height:70px;display:block;margin:0 auto}
.main #conteudo-home aside ul#lista-novidades li a h3{padding:0 0 0 82px;font-family:'Roboto Condensed',sans-serif;font-size:16px;font-weight:bold;color:#fff;line-height:140%;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}
.main #conteudo-home aside ul#lista-novidades li a p{padding:0 0 0 82px;font-family:'Calibri','Arial','Verdana','Tahoma',sans-serif;font-size:13px;font-weight:normal;color:#fff;line-height:140%;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}
.main #conteudo-home aside ul#lista-novidades li a:hover{-webkit-animation-play-state:running;-moz-animation-play-state:running;-o-animation-play-state:running;animation-play-state:running}.main #conteudo-home aside ul#lista-novidades li a:hover h3,.main #conteudo-home aside ul#lista-novidades li a:hover p{color:#edb900}
.main #lista-novidades-horizontal{display:table;width:100%;margin-top:35px}.main #lista-novidades-horizontal a{display:table-cell;width:33.33%;border:1px solid #fff;border-right:none;padding:10px;vertical-align:top;position:relative}.main #lista-novidades-horizontal a:after{content:'';position:absolute;width:calc(100% - 20px);height:1px;top:10px;left:10px;background:#fff}
.main #lista-novidades-horizontal a:last-child{border-right:1px solid #fff}
.main #lista-novidades-horizontal a .imagem{width:70px;height:70px;background-color:#fff;float:left}.main #lista-novidades-horizontal a .imagem img{max-width:70px;max-height:70px;display:block;margin:0 auto}
.main #lista-novidades-horizontal a h3{margin-top:15px;padding:0 60px 0 82px;font-family:'Roboto Condensed',sans-serif;font-size:16px;font-weight:bold;color:#fff;line-height:140%;background:url('../../images/layout/seta-branca.png') no-repeat right 3px;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}
.main #lista-novidades-horizontal a p{padding:0 0 0 82px;font-family:'Calibri','Arial','Verdana','Tahoma',sans-serif;font-size:13px;font-weight:normal;color:#fff;line-height:140%;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}
.main #lista-novidades-horizontal a:hover h3,.main #lista-novidades-horizontal a:hover p{color:#edb900}
@media (max-width:980px){.main #lista-novidades-horizontal{display:block}.main #lista-novidades-horizontal a{display:block;min-height:80px;width:calc(100% - 22px);border-bottom:none;border-right:1px solid #fff}.main #lista-novidades-horizontal a:last-child{border-bottom:1px solid #fff}}
.main .resposta{width:752px;margin:0 auto;text-align:center;font-family:'Calibri','Arial','Verdana','Tahoma',sans-serif;font-size:12px;font-weight:normal}
.main #form-newsletter{height:40px;background:#edb900;width:100%;padding-left:0;padding-right:0;margin:0 auto;width:752px;margin-bottom:30px}@media (min-width: 0px) and (max-width: 639px){.main #form-newsletter{overflow:hidden}}@media (min-width: 0px) and (max-width: 639px) and (orientation: landscape){.main #form-newsletter{max-width:470px}}@media (min-width: 0px) and (max-width: 639px) and (orientation: portrait){.main #form-newsletter{max-width:310px}}@media (min-width: 640px) and (max-width: 979px){.main #form-newsletter{max-width:710px}}@media (min-width: 980px){.main #form-newsletter{max-width:980px}}@media (min-width: 0px) and (max-width: 979px){.main #form-newsletter{min-height:80px;height:auto}}.main #form-newsletter span{line-height:40px;color:#007cc3;font-family:'Roboto Condensed',sans-serif;font-size:16px;font-weight:bold;padding-left:10px}
.main #form-newsletter form{display:inline-block;*display:inline;zoom:1;vertical-align:top;margin-left:40px;padding-top:10px}@media (min-width: 0px) and (max-width: 979px){.main #form-newsletter form{max-width:550px;margin-left:auto;display:block;margin-right:auto;padding-bottom:10px}}@media (min-width: 0px) and (max-width: 639px){.main #form-newsletter form{text-align:center}}.main #form-newsletter form input[type="text"],.main #form-newsletter form input[type="email"]{display:inline-block;*display:inline;zoom:1;vertical-align:top;border:0;margin:0;padding:2px 5px;background:#fbd800;color:#007cc3;width:220px;height:16px;font-family:'Calibri','Arial','Verdana','Tahoma',sans-serif;font-size:12px;font-weight:normal}.main #form-newsletter form input[type="text"]::-webkit-input-placeholder,.main #form-newsletter form input[type="email"]::-webkit-input-placeholder{color:#007cc3}
.main #form-newsletter form input[type="text"]:-moz-placeholder,.main #form-newsletter form input[type="email"]:-moz-placeholder{color:#007cc3}
.main #form-newsletter form input[type="text"]::-moz-placeholder,.main #form-newsletter form input[type="email"]::-moz-placeholder{color:#007cc3}
.main #form-newsletter form input[type="text"]:-ms-input-placeholder,.main #form-newsletter form input[type="email"]:-ms-input-placeholder{color:#007cc3}
.main #form-newsletter form input[type="submit"]{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:30px;height:20px;line-height:20px;text-align:center;background:#fbd800;color:#007cc3;border:0;padding:0;margin:0;cursor:pointer;font-family:'Roboto Condensed',sans-serif;font-size:14px;font-weight:bold;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}@media (min-width: 0px) and (max-width: 639px){.main #form-newsletter form input[type="submit"]{display:block;margin:0 auto}}.main #form-newsletter form input[type="submit"]:hover{background-color:#007cc3}
@-webkit-keyframes animacaoSetaHome{0%{background-position:95% 90%} 25%{background-position:98% 90%} 50%{background-position:97% 90%} 75%{background-position:98% 90%} 100%{background-position:95% 90%}}@-moz-keyframes animacaoSetaHome{0%{background-position:95% 90%} 25%{background-position:98% 90%} 50%{background-position:97% 90%} 75%{background-position:98% 90%} 100%{background-position:95% 90%}}@-o-keyframes animacaoSetaHome{0%{background-position:95% 90%} 25%{background-position:98% 90%} 50%{background-position:97% 90%} 75%{background-position:98% 90%} 100%{background-position:95% 90%}}@keyframes animacaoSetaHome{0%{background-position:95% 90%} 25%{background-position:98% 90%} 50%{background-position:97% 90%} 75%{background-position:98% 90%} 100%{background-position:95% 90%}}
