@small	: ~"(min-width: 0px) and (max-width: 750px)";
@medium : ~"(min-width: 751px) and (max-width: 1099px)";
@large  : ~"(min-width: 1100px)";

@azul:#1D6375;
@amarelo:#FFCB1C;

.roboto(@fsize:12px, @fweight:normal){
	font-family: 'Roboto Condensed', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

body{
  .centralizar{
    margin: 0 auto;
    width: 100%;
    @media @small{
      max-width: 440px;
    }
    @media @medium{
      max-width: 750px;
    }
    @media @large{
      max-width: 980px;
    }
  }
  header{
    position: relative;
    height: 450px;
    width: 100%;
    #imagem-topo{
      position: relative;
      width: 100%;
      z-index:1;
      img{
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        max-width: 100%;
      }
    }
    #imagem-marca-dagua{
      position: absolute;
      display: block;
      left: 97px;
      top: 66px;
      z-index:0;
      @media @medium{
        left: 3px;
      }
      @media @small{
        left: 3px;
      }
    }
    #imagem-mapa{
      position: absolute;
      display: block;
      right: 40px;
      top: 170px;
      @media @medium{
        right: 0px;
        max-width: 40%;
      }
      @media @small{
        display: none;
      }
    }
    .texto{
      position: absolute;
      display: block;
      left: 115px;
      top: 200px;
      width: 360px;
      height: 190px;
      @media @medium{
        left: 3px;
      }
      @media @small{
        left: 3px;
      }
      p{
        text-align: right;
        .roboto(26px, 300);
        color:@azul;
        line-height: 150%;
        strong{
          font-weight: 700;
        }
      }
    }
  }
  .conteudo{
    font-size: 0;
    position: relative;
    z-index: 1;
    .resposta{
      border: 1px @azul solid;
      margin: 15px auto;
      width: 460px;
      box-sizing: border-box;
      padding: 20px;
      text-align: center;
      .roboto(17px);
      color:@azul;
    }
    .imagem{
      display: inline-block;
      vertical-align: top;
      width: 50%;
      @media @small{
        width: 100%;
      }
      img{
        display: block;
        max-width: 100%;
        @media @medium{
          max-width: 90%;
        }
        @media @medium{
          margin-bottom: 5px;
        }
      }
    }
    .texto{
      display: inline-block;
      vertical-align: top;
      width: 50%;
      @media @small{
        width: 100%;
      }
      h1{
        .roboto(20px, bold);
        color:@azul;
        display: block;
        margin-bottom: 10px;
        &:after{
          content:"";
          position: relative;
          display: block;
          width: 350px;
          height: 11px;
          background: url('../../images/international/traco-titulo.png') center center no-repeat;
        }
      }
      ul{
        list-style-type: disc;
        list-style-position: inside;
        padding: 0;
        margin: 0;
        max-width: 100%;
        list-style: inside;
        li{
          display: list-item;
          margin-bottom: 3px;
          .roboto(20px);
          color:#000;
          &.espacado{
            margin-bottom: 20px;
          }
        }
      }
    }
  }
  .downloads{
    margin-top: 75px;
    position: relative;
		min-height: 260px;
    #imagem-cadernos{
      float:right;
      max-width: 100%;
      @media @medium{
        max-width: 38%;
      }
      @media @small{
        display: none;
      }
    }
    ul{
      width: 60%;
      @media @small{
        width: 100%;
      }
      li{
        display: block;
        margin-bottom: 3px;
        a{
          display: block;
          height: 65px;
          line-height: 65px;
          background: url('../../images/international/bg-downloads.png');
          color:#fff;
          .roboto(22px);
          @media @medium{
            font-size: 18px;
          }
          @media @small{
            font-size: 16px;
          }
          transition: all .3s ease-in;
          img{
            margin: 0 30px 0 25px;
            vertical-align: -11px;
            &.xtra{
              vertical-align: -13px;
              margin: 0 34px 0 29px;
            }
            @media @medium{
              margin: 0 15px 0 12px;
              vertical-align: -11px;
              &.xtra{
                vertical-align: -13px;
                margin: 0 24px 0 18px;
              }
            }
            @media @small{
              margin: 0 15px 0 12px;
              vertical-align: -11px;
              &.xtra{
                vertical-align: -13px;
                margin: 0 24px 0 18px;
              }
            }
          }
          strong{font-weight: bold;}
          &:active, &:visited{color:#fff;}
          &:hover{color:@amarelo;}
        }
      }
    }
  }
  .thumbs{
    margin: 35px 0 70px 0;
		clear:both;
    ul{
      font-size: 0;
      li{
        display: inline-block;
        vertical-align: top;
        width: 20%;
        @media @small{
          width: 50%;
					&:last-child{
						display: block;
						margin: 0 auto;
					}
        }
        a{
          width: 98%;
          background: #fff;
          display: block;
          transition: all .3s ease-in;
          img{
            display: block;
            width: 100%;
            margin-bottom: 2px;
          }
          .texto{
            .roboto(12px);
            color: @azul;
            padding-left: 3px;
          }
          &:active, &:visited{}
          &:hover{
            background: @amarelo;
          }
        }
      }
    }
  }
  #imagem-cadernos-2{
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }
  form{
    font-size: 0;
    width: 645px;
    margin: 0 auto;
    display: block;
    @media @small{
      width: 100%;
    }
    h2{
      .roboto(20px);
      color:@azul;
      text-align: center;
      margin-bottom: 20px;
    }
    .coluna{
      width: 50%;
      display: inline-block;
      vertical-align: top;
      @media @small{
        width: 100%;
        display: block;
      }
    }
    input[type="text"],
    input[type="email"],
    textarea{
      display: block;
      width: 98%;
      border: 1px #437D8C solid;
      color:#437D8C;
      .roboto(16px);
      box-sizing: border-box;
      padding: 4px 10px;
      height: 32px;
      line-height: 32px;
      margin-bottom: 2px;
      @media @small{
        width: 100%;
      }
    }
    textarea{
      width: 100%;
      resize: none;
      overflow: auto;
      height: 134px;
    }
    .submit{
      height: 32px;
      input[type="submit"]{
        float:right;
        cursor: pointer;
        border: 1px #437D8C solid;
        color:#437D8C;
        .roboto(16px, bold);
        box-sizing: border-box;
        height: 32px;
        line-height: 32px;
        padding: 0 60px;
        background: #fff;
        transition: all .3s ease-in;
        &:hover{
          background: @azul;
          color:#fff;
        }
      }
    }
  }
  footer{
    border-top: 1px #E6E6E6 solid;
    .roboto(10px);
    color:#333;
    padding-top: 4px;
    margin-top: 70px;
    text-align: center;
  }
  .faixa-cinza{
    margin: 45px 0 75px 0;
    background:#E6E6E6;
    padding: 30px 0;
    text-align: center;
    h2{
      .roboto(24px, bold);
      font-style: italic;
      color: @azul;
    }
    h3{
      .roboto(20px, bold);
      color: @azul;
      margin-bottom: 20px;
    }
    a{
      display: inline-block;
      vertical-align: top;
      margin: 0 30px;
    }
  }
}
