body .centralizar{margin:0 auto;width:100%}@media (min-width: 0px) and (max-width: 750px){body .centralizar{max-width:440px}}@media (min-width: 751px) and (max-width: 1099px){body .centralizar{max-width:750px}}@media (min-width: 1100px){body .centralizar{max-width:980px}}
body header{position:relative;height:450px;width:100%}body header #imagem-topo{position:relative;width:100%;z-index:1}body header #imagem-topo img{position:absolute;display:block;left:0;top:0;max-width:100%}
body header #imagem-marca-dagua{position:absolute;display:block;left:97px;top:66px;z-index:0}@media (min-width: 751px) and (max-width: 1099px){body header #imagem-marca-dagua{left:3px}}@media (min-width: 0px) and (max-width: 750px){body header #imagem-marca-dagua{left:3px}}
body header #imagem-mapa{position:absolute;display:block;right:40px;top:170px}@media (min-width: 751px) and (max-width: 1099px){body header #imagem-mapa{right:0;max-width:40%}}@media (min-width: 0px) and (max-width: 750px){body header #imagem-mapa{display:none}}
body header .texto{position:absolute;display:block;left:115px;top:200px;width:360px;height:190px}@media (min-width: 751px) and (max-width: 1099px){body header .texto{left:3px}}@media (min-width: 0px) and (max-width: 750px){body header .texto{left:3px}}body header .texto p{text-align:right;font-family:'Roboto Condensed',sans-serif;font-size:26px;font-weight:300;color:#1d6375;line-height:150%}body header .texto p strong{font-weight:700}
body .conteudo{font-size:0;position:relative;z-index:1}body .conteudo .resposta{border:1px #1d6375 solid;margin:15px auto;width:460px;box-sizing:border-box;padding:20px;text-align:center;font-family:'Roboto Condensed',sans-serif;font-size:17px;font-weight:normal;color:#1d6375}
body .conteudo .imagem{display:inline-block;vertical-align:top;width:50%}@media (min-width: 0px) and (max-width: 750px){body .conteudo .imagem{width:100%}}body .conteudo .imagem img{display:block;max-width:100%}@media (min-width: 751px) and (max-width: 1099px){body .conteudo .imagem img{max-width:90%}}@media (min-width: 751px) and (max-width: 1099px){body .conteudo .imagem img{margin-bottom:5px}}
body .conteudo .texto{display:inline-block;vertical-align:top;width:50%}@media (min-width: 0px) and (max-width: 750px){body .conteudo .texto{width:100%}}body .conteudo .texto h1{font-family:'Roboto Condensed',sans-serif;font-size:20px;font-weight:bold;color:#1d6375;display:block;margin-bottom:10px}body .conteudo .texto h1:after{content:"";position:relative;display:block;width:350px;height:11px;background:url('../../images/international/traco-titulo.png') center center no-repeat}
body .conteudo .texto ul{list-style-type:disc;list-style-position:inside;padding:0;margin:0;max-width:100%;list-style:inside}body .conteudo .texto ul li{display:list-item;margin-bottom:3px;font-family:'Roboto Condensed',sans-serif;font-size:20px;font-weight:normal;color:#000}body .conteudo .texto ul li.espacado{margin-bottom:20px}
body .downloads{margin-top:75px;position:relative;min-height:260px}body .downloads #imagem-cadernos{float:right;max-width:100%}@media (min-width: 751px) and (max-width: 1099px){body .downloads #imagem-cadernos{max-width:38%}}@media (min-width: 0px) and (max-width: 750px){body .downloads #imagem-cadernos{display:none}}
body .downloads ul{width:60%}@media (min-width: 0px) and (max-width: 750px){body .downloads ul{width:100%}}body .downloads ul li{display:block;margin-bottom:3px}body .downloads ul li a{display:block;height:65px;line-height:65px;background:url('../../images/international/bg-downloads.png');color:#fff;font-family:'Roboto Condensed',sans-serif;font-size:22px;font-weight:normal;transition:all .3s ease-in}@media (min-width: 751px) and (max-width: 1099px){body .downloads ul li a{font-size:18px}}@media (min-width: 0px) and (max-width: 750px){body .downloads ul li a{font-size:16px}}body .downloads ul li a img{margin:0 30px 0 25px;vertical-align:-11px}body .downloads ul li a img.xtra{vertical-align:-13px;margin:0 34px 0 29px}
@media (min-width: 751px) and (max-width: 1099px){body .downloads ul li a img{margin:0 15px 0 12px;vertical-align:-11px}body .downloads ul li a img.xtra{vertical-align:-13px;margin:0 24px 0 18px}}@media (min-width: 0px) and (max-width: 750px){body .downloads ul li a img{margin:0 15px 0 12px;vertical-align:-11px}body .downloads ul li a img.xtra{vertical-align:-13px;margin:0 24px 0 18px}}
body .downloads ul li a strong{font-weight:bold}
body .downloads ul li a:active,body .downloads ul li a:visited{color:#fff}
body .downloads ul li a:hover{color:#ffcb1c}
body .thumbs{margin:35px 0 70px 0;clear:both}body .thumbs ul{font-size:0}body .thumbs ul li{display:inline-block;vertical-align:top;width:20%}@media (min-width: 0px) and (max-width: 750px){body .thumbs ul li{width:50%}body .thumbs ul li:last-child{display:block;margin:0 auto}}body .thumbs ul li a{width:98%;background:#fff;display:block;transition:all .3s ease-in}body .thumbs ul li a img{display:block;width:100%;margin-bottom:2px}
body .thumbs ul li a .texto{font-family:'Roboto Condensed',sans-serif;font-size:12px;font-weight:normal;color:#1d6375;padding-left:3px}
body .thumbs ul li a:hover{background:#ffcb1c}
body #imagem-cadernos-2{max-width:100%;margin:0 auto;display:block}
body form{font-size:0;width:645px;margin:0 auto;display:block}@media (min-width: 0px) and (max-width: 750px){body form{width:100%}}body form h2{font-family:'Roboto Condensed',sans-serif;font-size:20px;font-weight:normal;color:#1d6375;text-align:center;margin-bottom:20px}
body form .coluna{width:50%;display:inline-block;vertical-align:top}@media (min-width: 0px) and (max-width: 750px){body form .coluna{width:100%;display:block}}
body form input[type="text"],body form input[type="email"],body form textarea{display:block;width:98%;border:1px #437d8c solid;color:#437d8c;font-family:'Roboto Condensed',sans-serif;font-size:16px;font-weight:normal;box-sizing:border-box;padding:4px 10px;height:32px;line-height:32px;margin-bottom:2px}@media (min-width: 0px) and (max-width: 750px){body form input[type="text"],body form input[type="email"],body form textarea{width:100%}}
body form textarea{width:100%;resize:none;overflow:auto;height:134px}
body form .submit{height:32px}body form .submit input[type="submit"]{float:right;cursor:pointer;border:1px #437d8c solid;color:#437d8c;font-family:'Roboto Condensed',sans-serif;font-size:16px;font-weight:bold;box-sizing:border-box;height:32px;line-height:32px;padding:0 60px;background:#fff;transition:all .3s ease-in}body form .submit input[type="submit"]:hover{background:#1d6375;color:#fff}
body footer{border-top:1px #e6e6e6 solid;font-family:'Roboto Condensed',sans-serif;font-size:10px;font-weight:normal;color:#333;padding-top:4px;margin-top:70px;text-align:center}
body .faixa-cinza{margin:45px 0 75px 0;background:#e6e6e6;padding:30px 0;text-align:center}body .faixa-cinza h2{font-family:'Roboto Condensed',sans-serif;font-size:24px;font-weight:bold;font-style:italic;color:#1d6375}
body .faixa-cinza h3{font-family:'Roboto Condensed',sans-serif;font-size:20px;font-weight:bold;color:#1d6375;margin-bottom:20px}
body .faixa-cinza a{display:inline-block;vertical-align:top;margin:0 30px}
