@import 'vars.less';

.conteudo{
	clear:both;
	font-size:0;
	section{
		width:520px;
		@media @mobile{width:100%;}
		margin-right:60px;
		.inline;
		h1{
			color:@azul;
			.roboto(23px);
		}
		.detalhes{
			padding:20px 0;
			h2{
				.roboto(26px);
				color:@azul;
				background:#fff;
				padding:10px 15px;
				.arredondada(10px 10px 0 0);
			}
			.imagem{
				background:#fff;
				padding:10px;
				.arredondada(0 0 10px 10px);
				img{
					.arredondada(0 0 10px 10px);
					display:block;
					max-width:100%;
					overflow:hidden;
					margin:0 auto;
				}
			}
			.olho{
				margin:15px 0;
				color:#fff;
				.calibri(16px);
				font-style:italic;
			}
			p{
				.calibri(15px);
				color:#fff;
				margin:15px 0;
			}
			p a, a{
				color:#fff;
				.transition;
				&:active, &:visited{color:#fff;}
				&:hover{color:@amarelo}
			}
		}
	}
	aside{
		.inline;
		width:400px;
		margin-top: -90px;
		@media @mobile_e_tablet{
			margin:30px auto;
		}
		ul{
			li{
				width:400px;
				a{
					display:block;
					padding:15px 0 10px 34px;
					background:url('../../images/layout/seta-branca.png') @amarelo -30px 16px no-repeat;
					color:@azul;
					.data{.calibri(12px); line-height:120%;}
					.titulo{.calibri(16px); line-height:120%;}
					border-bottom:1px @amarelo_claro solid;
					.transition;
					&:active, &:visited{color:@azul;}
					&:hover, &.ativo{ background:url('../../images/layout/seta-branca.png') @amarelo 10px 16px no-repeat; }
				}
			}
		}
	}
}
