@import 'vars.less';

.main{
	clear:both;
	font-size:0;
	position:relative;
	aside{
		margin-top:5px;
		width:240px;
		.inline;
		margin-right:15px;
		min-height:500px;
		h1{
			.roboto(22px);
			&.azul{color:@azul;}
			@media @mobile_e_tablet{
				position: absolute;
				left: 240px;
			}
			@media @mobile{
				color:#fff;
			}
		}
		#menu-linhas{
			padding:15px 0;
			li{
				padding-right:10px;
				a{
					color:#fff;
					padding:2px 14px 2px 1px;
					@media @mobile_e_tablet{
						padding-left:10px;
					}
					.calibri(14px);
					&:active, &:visited{color:#fff;}
					&:hover, &.ativo{
						background-color:@amarelo;
						color:@azul;
					}
					.transition;
					span{
						color:@amarelo;
					}
				}
			}
		}
		@media @mobile_e_tablet{
			position:absolute;
			left:-240px;
			z-index:9;
			.transition;
			h1{
				margin-left:10px;
				width: 200px;
				cursor:pointer;
				&:after{
					font-size:14px;
					vertical-align: baseline;
					margin-left:15px;
					content:"Ver todas as linhas »";
				}
			}
			&.aberto{
				background:@azul_medio;
				left:0;
				h1:after{
					content:"« Esconder";
				}
			}
		}
		@media @mobile{
			h1{
				z-index:0;
				color:#fff !important;
				&:after{color:#fff;}
			}
			&.aberto{
				h1{
					margin-left:-80px;
				}
			}
		}
	}
	section{
		.inline;
		width:725px;
		position:relative;
		z-index:99999;
		margin-top:-76px;
		@media @mobile_e_tablet{
			margin-top:50px;
			z-index:0;
		}
		@media @mobile{
			width:100%;
		}
		h1{
			.roboto(22px);
			&.azul{color:@azul_medio;}
			&.branco{color:#fff; line-height:105%;margin-bottom:4px;}
			&.espac-top{margin-top:45px;}
			&.espac-top-med{margin-top:25px;}
			&.espac-bot{margin-bottom:15px;}
			&.espac-bot-red{margin-bottom:12px;}
			&.espac-bot-med{margin-bottom:5px;}
			&.espac-bot-sm{margin-bottom:4px;}
			&.fs24{font-size:24px;}
			&.bold{font-weight: bold;}
			.menor{font-size:19px !important;}
		}
		h2.promo{
			.calibri(16px);
			font-style: italic;
			margin-bottom:20px;
			color:#fff;
		}
		#links-tipos{
			font-size:0;
			list-style:none;
			@media @mobile{
				width:100%;
				overflow:hidden;
			}
			li{
				.inline;
				width:20%;
				@media @mobile{
					width:50%;
					overflow:hidden;
					&:last-child{width:100%;}
				}
				a{
					display:block;
					.transition;
					&:active, &:visited{ div{ color:#fff;} }
					//&:hover{ div{background:@verde; color:@azul; }}
					div.titulo{
						.transition;
						padding:32px 18px 0 18px;
						height:48px;
						line-height:120%;
						overflow:hidden;
						text-align: center;
						color:#fff;
						.calibri(14px, bold);
					}
					&:hover{
						.imagem.im-12{background:url('../../images/layout/produtos_agendas-hover.png') center center no-repeat;}
						.imagem.im-11{background:url('../../images/layout/produtos_cadernos-hover.png') center center no-repeat;}
						.imagem.im-13{background:url('../../images/layout/produtos_gifts-hover.png') center center no-repeat;}
						.imagem.im-14{background:url('../../images/layout/produtos_bolsas-hover.png') center center no-repeat;}
						.imagem.im-15{background:url('../../images/layout/produtos_papeis-hover.png') center center no-repeat;}
					}
					.imagem{
						width:145px;
						height:145px;
						@media @mobile{
							width:100%;
							height:auto;
						}
						display:block;
						.transition;
						&.im-12{background:url('../../images/layout/produtos_agendas.png') center center no-repeat;}
						&.im-11{background:url('../../images/layout/produtos_cadernos.png') center center no-repeat;}
						&.im-13{background:url('../../images/layout/produtos_gifts.png') center center no-repeat;}
						&.im-14{background:url('../../images/layout/produtos_bolsas.png') center center no-repeat;}
						&.im-15{background:url('../../images/layout/produtos_papeis.png') center center no-repeat;}
					}
					&.cor-produto-12{
						background:#2CB072;
						&:hover{background:#126d46;}
					}
					&.cor-produto-14{
						background:#BA2B00;
						&:hover{background:#822200;}
					}
					&.cor-produto-11{
						background:#0096DC;
						&:hover{background:#01657c;}
					}
					&.cor-produto-13{
						background:#FF9941;
						&:hover{background:#844f1a;}
					}
					&.cor-produto-15{
						background:#DC0045;
						&:hover{background:#8b0036;}
					}
				}
				&:nth-child(1){background:url('../../images/layout/produtos_agendas.png') -5000px -5000px no-repeat;}
				&:nth-child(2){background:url('../../images/layout/produtos_cadernos.png') -5000px -5000px no-repeat;}
				&:nth-child(3){background:url('../../images/layout/produtos_gifts.png') -5000px -5000px no-repeat;}
				&:nth-child(4){background:url('../../images/layout/produtos_bolsas.png') -5000px -5000px no-repeat;}
				&:nth-child(5){background:url('../../images/layout/produtos_papeis.png') -5000px -5000px no-repeat;}
			}
		}
		#links-linhas{
			.inline;
			width:33%;
			@media @mobile{
				width:100%;
			}
			margin-top:4px;
			li{
				padding-right:10px;
				a{
					color:#fff;
					display:block;
					.calibri(14px);
					&:active, &:visited{color:#fff;}
					&:hover{color:@amarelo;}
					.transition;
					span{
						color:@amarelo;
					}
				}
			}
		}
		#form-busca{
			.inline;
			vertical-align: 3px;
			min-width:430px;
			height:30px;
			margin-bottom:30px;
			@media @mobile{
				width: 100%;
				min-width: 100%;
				max-width:100%;
				min-height:30px;
				height:auto;
			}
			&.topo{
				margin-bottom:0px;
				margin-left:327px;
				height:50px;
				line-height:50px;
				input[type="submit"]{
					background:url('../../images/layout/lupa-azul.png') center center no-repeat;
					margin-left:7px;
				}
				input[type="text"]{
					.placeholder(@azul);
				}
				@media @mobile{
					display:block;
					margin-left:0px;
					height:auto;
					min-height: 50px;
					padding-top:20px;
					margin-bottom: 20px;
					span, input{
						float:left;
						margin-right: 10px;
					}
				}
			}
			span{
				.roboto(16px);
				color:@azul;
				@media @mobile_e_tablet{
					color:#fff;
				}
			}
			input[type="text"]{
				height:24px;
				line-height:24px;
				border:0;
				margin:0 0 0 12px;
				padding:3px 5px;
				width:320px;
				background: rgba(255,255,255,.3);
				.calibri(14px);
				color:#fff;
				&.reduzido{
					width:255px;
					background:#DCE7F2;
					color:@azul;
				}
				@media @mobile{
					display:block;
					margin:2px 0;
					max-width:100%;
				}
			}
			input[type="submit"]{
				width:30px;
				height:30px;
				background:url('../../images/layout/lupa.png') center center no-repeat;
				border:0;
				margin:0;
				padding:0;
				text-indent: -9000px;
				cursor:pointer;
				@media @mobile{
					display:block;
					margin:2px auto;
				}
			}
		}
		#seleciona-tipo{
			width:185px;
			padding-top:50px;
			margin-left: 105px;
			position:absolute;
			z-index:999999999;
			@media @mobile{
				position: relative;
				display:block;
				margin-left: 10px;
			}
			.inline;
			a{
				width:195px;
				display:block;
				white-space:nowrap;
				height:50px;
				line-height:50px;
				display:block;
				color:#fff;
				text-indent:15px;
				.roboto(14px);
				.transition;
				i{
					float:right;
					margin-right:5px;
					background:url('../../images/layout/seta-baixo-branca.png') center center no-repeat;
					width:20px;
					height:50px;
				}
				&.selecionado{
					position:absolute;
					top:0;
				}
				&.cor-produto-0{
					background:#1A5DA6;
					&:hover{background:@verde;}
				}
				&.cor-produto-12{
					background:#2CB072;
					&:hover{background:#126d46;}
				}
				&.cor-produto-14{
					background:#BA2B00;
					&:hover{background:#822200;}
				}
				&.cor-produto-11{
					background:#0096DC;
					&:hover{background:#01657c;}
				}
				&.cor-produto-13{
					background:#FF9941;
					&:hover{background:#844f1a;}
				}
				&.cor-produto-15{
					background:#DC0045;
					&:hover{background:#8b0036;}
				}
			}
			&.opcoes-escondidas{
				a:nth-child(n+2){
					height:0;
					overflow:hidden;
				}
			}
		}
		#produtos{
			padding:30px 0;
			a{
				.inline;
				margin:0 5px 5px 0;
				position:relative;
				background:#fff;
				width:78px;
				height:100px;
				padding:10px;
				img{
					display: block;
					margin:0 auto;
					max-width:78px;
					max-height:100px;
				}
				.overlay{
					position: absolute;
					width:0;
					height:0;
					top:50%;
					left:50%;
					background:url('rgba.php/rgba(26, 93, 166, 0.3)');
					background:rgba(26, 93, 166, 0.3);
					.arredondada(20px);
					.transition;
				}
				&:hover .overlay, &.ativo .overlay{
					top:0;
					left:0;
					width:98px;
					height:120px;
					.arredondada(0);
				}
			}
			&.maiores{
				a{
					margin:0 10px 10px 0;
					padding:20px 16px 20px 16px;
					width:137px;
					height:170px;
					img{
						max-width:137px;
						max-height:170px;
					}
					&:hover .overlay, &.ativo .overlay{
						width:169px;
						height:210px;
					}
				}
			}
			.coluna{
				.inline;
				&.esquerda{
					width:407px;
					margin-right:5px;
					#ampliada{
						padding:25px 45px;
						background:#fff;
						margin:0 0 5px 0;
						width:317px;
						height:445px;
						@media @mobile{
							box-sizing:border-box;
							max-width: 100%;
							height:auto;
						}
						img{
							display:block;
							margin:0 auto;
							max-width:326px;
							max-height:445px;
							@media @mobile{max-width: 100%;height:auto;}
						}
					}
					.listagem a:nth-child(4n){margin-right:0;}
				}
				&.direita{
					width:304px;
					.listagem a:nth-child(3n){margin-right:0;}
					#detalhes{
						background:#fff;
						overflow:hidden;
						padding:10px 20px;
						width:264px;
						height:350px;
						&.esticada{height:475px !important;}
						@media @mobile{max-width: 100%;height:auto;}
						margin-bottom:5px;
						overflow:hidden;
						h1{font-size:25px;}
						h2{
							color:#373435;
							line-height:120%;
							.calibri(10px);
							strong{
								.calibri(12px, bold);
							}
						}
						h3{
							line-height:120%;
							color:#373435;
							margin-top:5px;
							margin-bottom:2px;
							.calibri(14px, bold);
						}
						h4{
							&.commargem{
								margin:20px 0 3px 0;
							}
							color:#373435;
							line-height:120%;
							font-style: italic;
							.calibri(10px, normal);
						}
						p{
							padding-right:10px;
							color:#373435;
							line-height:120%;
							.calibri(11px);
						}
						ul{
							list-style: none;
							margin:5px 0;
							li{
								color:#373435;
								.calibri(10px);
								&:before{
									content:"»";
									margin-right:5px;
								}
							}
						}
					}
				}
				@media @mobile{display:block; max-width: 100%; width: 100%;}
			}
			.link-resultado{
				display:block;
				.roboto(20px);
				color:#fff;
				background:transparent;
				line-height: 150%;
				margin:3px 0;
				height:auto;
				width:auto;
				.transition;
				&:active, &:visited{color:#fff;}
				&:hover{color:@verde;}
			}
			a.outros-tipos{
				color:#fff;
				background-color:rgba(255,255,255,.3);
				padding:5px 20px;
				height:10px;
				line-height:10px;
				margin:3px;
				height:auto;
				line-height:100%;
				width:auto;
				text-align:center;
				.roboto(14px, bold);
				.inline;
				.transition;
				&:active, &:visited{color:#fff;}
				&:hover{background-color:@amarelo;color:@azul;}
				&.voltar{
					padding:5px 30px;
					margin-top:30px;
					height:28px;
					line-height:28px;
				}
			}
		}
	}
}

.customModal.dropShadow{
	background:url('rgba.php/rgba(0, 0, 0, .8)');
	background:rgba(0,0,0,.8);
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:999999;
	.transition;
	&.escondido{
		opacity:0;
		width:0;
		height:0;
		overflow:hidden;
		position:absolute;
		top:0;
		left:50%;
	}
}

.customModal.janela{
	position:relative;
	width:715px;
	margin:80px auto 0 auto;
	font-size:0;
	.coluna{
		.inline;
		min-height:437px;
		width:350px;
		background-color:#fff;
		border-top:5px @azul solid;
		border-left:5px @azul solid;
		border-bottom:5px @azul solid;
		border-right:5px @azul solid;
		&:first-child{
			border-top:5px @azul solid;
			border-left:5px @azul solid;
			border-bottom:5px @azul solid;
			border-right:0;
		}
		img{
			width:303px;
			display:block;
			margin:30px auto;
		}
		h2{
			padding:18px 0 0 18px;
			color:#373435;
			line-height:120%;
			.calibri(10px);
			strong{
				.calibri(12px, bold);
			}
		}
		h3{
			padding:0 0 20px 18px;
			line-height:120%;
			color:#373435;
			.calibri(12px);
		}
		h4{
			padding:0 0 0 18px;
			color:#373435;
			line-height:120%;
			font-style: italic;
			.calibri(10px, normal);
		}
		p{
			padding:18px 0 0 18px;
			padding-right:10px;
			color:#373435;
			line-height:120%;
			.calibri(11px);
		}
		ul{
			padding:0 0 0 18px;
			list-style: none;
			margin:5px 0;
			li{
				color:#373435;
				.calibri(10px);
				&:before{
					content:"»";
					margin-right:5px;
				}
			}
		}
	}
}
