@import url('http://fonts.googleapis.com/css?family=Arvo:400,700|Sue+Ellen+Francisco');
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.secao.home {
  background: url('../../images/concurso/bg-home.png') #90c13f center top no-repeat;
}
.secao.home .banner-principal {
  padding-right: 6%;
}
.secao.home .banner-principal img {
  max-width: 448px;
  margin: 0 auto;
  display: block;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .secao.home .banner-principal img {
    width: 90%;
  }
}
@media only screen and (min-width: 768px) {
  .secao.home .banner-principal img {
    width: 100%;
  }
}
.secao.home .infografico {
  margin-top: 45px;
  padding-right: 6%;
}
.secao.home .infografico img {
  max-width: 448px;
  margin: 0 auto;
  display: block;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .secao.home .infografico img {
    width: 90%;
  }
}
@media only screen and (min-width: 768px) {
  .secao.home .infografico img {
    width: 100%;
  }
}
.secao.home .chamada-tema {
  padding: 25px 0;
  text-align: center;
}
.secao.home .chamada-tema h1 {
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 28px;
  font-weight: normal;
  color: #184421;
}
.secao.home .chamada-tema h1 span.roxo {
  display: block;
  font-size: 42px;
}
.secao.home .chamada-tema h1 span.menor {
  display: block;
  font-size: 21px;
}
.secao.home .chamada-tema .header-tema {
  display: block;
  padding: 0 10px;
  background-color: #184421;
  text-align: center;
  height: 20px;
  line-height: 20px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  behavior: url('PIE.htc');
  margin: 40px auto 20px auto;
  width: 175px;
  color: #b6c733;
  font-family: 'Arial', sans-serif;
  font-size: 10px;
  font-weight: bold;
}
.secao.home .chamada-tema .titulo-tema {
  text-align: center;
  color: #531e50;
  font-family: 'Arvo', serif;
  font-size: 20px;
  font-weight: bold;
}
.secao.home .chamada-tema .data-tema {
  text-align: center;
  color: #531e50;
  font-family: 'Arvo', serif;
  font-size: 14px;
  font-weight: bold;
}
.secao.home .chamada-tema .detalhe-tema {
  margin-top: 3px;
  border: 1px #d9186a solid;
  padding-top: 10px;
  text-align: center;
  color: #531e50;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  behavior: url('PIE.htc');
}
@media only screen and (min-width: 768px) {
  .secao.home .chamada-tema .detalhe-tema {
    width: 100%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .secao.home .chamada-tema .detalhe-tema {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.secao.home .chamada-tema .detalhe-tema p {
  padding: 0 10px;
  line-height: 130%;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
.secao.home .chamada-tema .detalhe-tema p.bold {
  font-weight: bold;
}
.secao.home .chamada-tema .detalhe-tema.sem-botao {
  padding-bottom: 20px;
}
.secao.home .chamada-tema .detalhe-tema a {
  height: 50px;
  line-height: 50px;
  width: 100%;
  display: block;
  margin-top: 30px;
  background-color: #d9186a;
  color: #fff;
  text-align: center;
  font-family: 'Arvo', serif;
  font-size: 20px;
  font-weight: bold;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  behavior: url('PIE.htc');
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.secao.home .chamada-tema .detalhe-tema a:active,
.secao.home .chamada-tema .detalhe-tema a:visited {
  color: #fff;
}
.secao.home .chamada-tema .detalhe-tema a:hover {
  color: #531e50;
}
.secao.home .banner-lateral img {
  margin-top: 25px;
  max-width: 211px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .secao.home .banner-lateral img {
    float: right;
    margin: 25px 0 0 0;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .secao.home .banner-lateral img {
    margin: 25px auto 25px auto;
    display: block;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .secao.home .pure-u-1-4 {
    width: 50%;
  }
  .secao.home .pure-u-1-2 {
    width: 100%;
  }
}
.secao.participe {
  background: url('../../images/concurso/bg-participe.png') #531e50 center top no-repeat;
}
.secao.participe header {
  padding-top: 30px;
}
.secao.participe header nav {
  min-height: 151px;
}
@media only screen and (min-width: 701px) {
  .secao.participe header nav {
    margin-top: -30px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 700px) {
  .secao.participe header nav {
    margin-top: 0;
  }
}
.secao.participe header nav ul li a.mn-home {
  padding: 0 7px;
  width: 202px;
  background-color: transparent;
}
@media only screen and (min-width: 701px) {
  .secao.participe header nav ul li a.mn-home {
    height: 151px;
    margin-bottom: 0;
  }
  .secao.participe header nav ul li a.mn-home img {
    display: block;
    max-width: 100%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 700px) {
  .secao.participe header nav ul li a.mn-home {
    height: auto;
    margin-bottom: 6px;
  }
  .secao.participe header nav ul li a.mn-home img {
    display: block;
    max-width: 90%;
  }
}
.secao.participe header nav ul li a.mn-home:hover {
  background-color: transparent;
}
.secao.participe header nav ul li a.mn-regulamento,
.secao.participe header nav ul li a.mn-participe,
.secao.participe header nav ul li a.mn-premios {
  background-color: #65873a;
  color: #b6c733;
}
@media only screen and (min-width: 701px) {
  .secao.participe header nav ul li a.mn-regulamento,
  .secao.participe header nav ul li a.mn-participe,
  .secao.participe header nav ul li a.mn-premios {
    margin-top: 60px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 700px) {
  .secao.participe header nav ul li a.mn-regulamento,
  .secao.participe header nav ul li a.mn-participe,
  .secao.participe header nav ul li a.mn-premios {
    margin-top: 0px;
  }
}
.secao.participe header nav ul li a.mn-regulamento:hover,
.secao.participe header nav ul li a.mn-participe:hover,
.secao.participe header nav ul li a.mn-premios:hover,
.secao.participe header nav ul li a.mn-regulamento.ativo,
.secao.participe header nav ul li a.mn-participe.ativo,
.secao.participe header nav ul li a.mn-premios.ativo {
  color: #531e50;
  background-color: #b6c733;
}
.secao.participe .loader {
  margin: 50px auto;
  text-align: center;
}
.secao.participe .resposta-inscricao {
  font-family: 'Arvo', serif;
  font-size: 18px;
  font-weight: bold;
  background-color: #eb6e24;
  color: #fff;
  padding: 20px 10%;
  width: 70%;
  margin: 30px auto;
  text-align: center;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  behavior: url('PIE.htc');
  line-height: 150%;
}
.secao.participe #inscricoes-fechadas p {
  font-family: 'Arvo', serif;
  font-size: 16px;
  font-weight: normal;
  color: #eb6e24;
  text-align: center;
  margin: 20px 0;
}
.secao.participe #inscricoes-fechadas p .branco {
  color: #fff;
}
.secao.participe #inscricoes-fechadas p strong {
  font-weight: bold;
}
.secao.participe #inscricoes-fechadas p a {
  color: #b6c733;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.secao.participe #inscricoes-fechadas p a:active,
.secao.participe #inscricoes-fechadas p a:visited {
  color: #b6c733;
}
.secao.participe #inscricoes-fechadas p a:hover {
  color: #65873a;
}
.secao.participe #inscricao {
  max-width: 502px;
  width: 100%;
}
.secao.participe #inscricao .container-frase label {
  display: block;
  text-align: center;
  color: #b6c733;
  font-family: 'Arvo', serif;
  font-size: 14px;
  font-weight: normal;
}
.secao.participe #inscricao .container-frase textarea {
  margin: 5px auto 0 auto;
  background-color: #b6c733;
  height: 70px;
  padding: 5px 7%;
  display: block;
  resize: none;
  overflow: auto;
  width: 86%;
  color: #531e50;
  line-height: 150%;
  font-family: 'Arvo', serif;
  font-size: 15px;
  font-weight: bold;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  behavior: url('PIE.htc');
}
.secao.participe #inscricao .container-frase #contador {
  padding: 0 7%;
  display: block;
  text-align: right;
  font-family: 'Arvo', serif;
  font-size: 11px;
  font-weight: normal;
  color: #fff;
}
.secao.participe #inscricao .container-frase .aviso-tema {
  display: block;
  text-align: right;
  margin: 15px 0;
  color: #eb6e24;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
@media only screen and (min-width: 980px) {
  .secao.participe #inscricao .container-frase .aviso-tema span:after {
    content: "";
    display: inline-block;
    margin: 0 20px 0 5px;
    width: 26px;
    height: 13px;
    background: url('../../images/concurso/seta-laranja.png') center center no-repeat;
  }
}
.secao.participe #inscricao .titulo-dados {
  color: #fff;
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 10px;
}
.secao.participe #inscricao .linha-form {
  margin-bottom: 10px;
}
.secao.participe #inscricao .linha-form label {
  color: #fff;
  font-family: 'Arvo', serif;
  font-size: 14px;
  font-weight: normal;
}
.secao.participe #inscricao .linha-form input {
  background-color: #fff;
  border: 0;
  margin: 0;
  padding: 5px 10px;
  height: 20px;
  line-height: 20px;
  color: #531e50;
  width: 71.71%;
  max-width: 360px;
  font-family: 'Arvo', serif;
  font-size: 14px;
  font-weight: bold;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  behavior: url('PIE.htc');
}
.secao.participe #inscricao .linha-form #abrir-responsavel {
  color: #fff;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
  padding-left: 10%;
  margin-top: 4px;
}
.secao.participe #inscricao .linha-form #abrir-responsavel a {
  text-decoration: underline;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.secao.participe #inscricao .linha-form #abrir-responsavel a:active,
.secao.participe #inscricao .linha-form #abrir-responsavel a:visited {
  color: #fff;
}
.secao.participe #inscricao .linha-form #abrir-responsavel a:hover {
  color: #eb6e24;
}
.secao.participe #inscricao .regulamento {
  width: 96%;
  padding: 5px 2%;
  height: 125px;
  margin-bottom: 10px;
  resize: none;
  overflow: auto;
  background-color: #fff;
  color: #531e50;
  font-family: 'Arial', sans-serif;
  font-size: 11px;
  font-weight: normal;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  behavior: url('PIE.htc');
}
.secao.participe #inscricao .regulamento p {
  color: #531e50;
  font-family: 'Arial', sans-serif;
  font-size: 11px;
  font-weight: normal;
  margin-bottom: 10px;
}
.secao.participe #inscricao .regulamento table {
  color: #531e50;
  font-family: 'Arial', sans-serif;
  font-size: 11px;
  font-weight: normal;
  margin-bottom: 10px;
  border-collapse: collapse;
}
.secao.participe #inscricao .regulamento table,
.secao.participe #inscricao .regulamento table tr,
.secao.participe #inscricao .regulamento table td {
  border: 1px #531e50 solid;
}
.secao.participe #inscricao .regulamento ul {
  margin-bottom: 10px;
  list-style: inside;
}
.secao.participe #inscricao .regulamento ul li {
  color: #531e50;
  font-family: 'Arial', sans-serif;
  font-size: 11px;
  font-weight: normal;
}
.secao.participe #inscricao .responsavel {
  border-top: 1px #eb6e24 dotted;
  border-bottom: 1px #eb6e24 dotted;
  padding: 5px 0;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.secao.participe #inscricao .responsavel p.laranja {
  font-family: 'Arial', sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #eb6e24;
  line-height: 120%;
}
.secao.participe #inscricao .responsavel #input-data {
  width: 156px;
}
.secao.participe #inscricao .responsavel #fechar-responsavel {
  color: #eb6e24;
  font-family: 'Arial', sans-serif;
  font-size: 11px;
  font-weight: normal;
  padding-left: 20px;
  display: block;
  min-height: 16px;
  line-height: 16px;
  width: 270px;
  margin-top: 30px;
  background: url('../../images/concurso/fechar-laranja.png') 3px center no-repeat;
}
.secao.participe #inscricao .responsavel #fechar-responsavel a {
  display: block;
  color: #eb6e24;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.secao.participe #inscricao .responsavel #fechar-responsavel a:active,
.secao.participe #inscricao .responsavel #fechar-responsavel a:visited {
  color: #eb6e24;
}
.secao.participe #inscricao .responsavel #fechar-responsavel a:hover {
  color: #fff;
}
.secao.participe #inscricao .responsavel.escondido {
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  opacity: 0;
}
.secao.participe #inscricao .checkboxes label {
  display: block;
  margin-bottom: 2px;
  font-family: 'Arvo', serif;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  cursor: pointer;
}
.secao.participe #inscricao .checkboxes label input {
  vertical-align: -2px;
  margin-right: 7px;
}
.secao.participe #inscricao input[type="submit"] {
  width: 150px;
  background-color: #b6c733;
  color: #531e50;
  text-align: center;
  font-family: 'Arvo', serif;
  font-size: 16px;
  font-weight: bold;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  behavior: url('PIE.htc');
  height: 40px;
  line-height: 40px;
  border: 0;
  display: block;
  margin: 20px 0 0 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.secao.participe #inscricao input[type="submit"]:hover {
  background-color: #eb6e24;
  color: #fff;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .secao.participe #inscricao input[type="submit"] {
    margin: 20px auto 0 auto;
  }
}
.secao.participe h2.participe-premios {
  color: #fff;
  text-align: right;
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 32px;
  font-weight: normal;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .secao.participe h2.participe-premios {
    display: none;
  }
}
.secao.participe .tema-do-momento {
  min-height: 269px;
}
@media only screen and (min-width: 768px) {
  .secao.participe .tema-do-momento {
    background: url('../../images/concurso/premios-participe.png') right 20px no-repeat;
    text-align: left;
    padding: 50px 55% 0 0;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .secao.participe .tema-do-momento {
    background: none;
    text-align: center;
    padding: 50px 0 0 0;
  }
}
.secao.participe .tema-do-momento .titulo-tema {
  color: #eb6e24;
  line-height: 120%;
  font-family: 'Arvo', serif;
  font-size: 20px;
  font-weight: bold;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .secao.participe .tema-do-momento .titulo-tema {
    padding: 0 10%;
  }
}
.secao.participe .tema-do-momento .data-tema {
  color: #eb6e24;
  line-height: 120%;
  white-space: nowrap;
  font-family: 'Arvo', serif;
  font-size: 14px;
  font-weight: bold;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .secao.participe .tema-do-momento .data-tema {
    padding: 0 10%;
  }
}
.secao.participe .tema-do-momento .descricao-tema {
  margin-top: 10px;
  line-height: 120%;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #eb6e24;
}
.secao.participe .tema-do-momento .descricao-tema strong {
  font-weight: bold;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .secao.participe .tema-do-momento .descricao-tema {
    padding: 0 10%;
  }
}
.secao.participe .tema-do-momento .rosa {
  margin-top: 40px;
  color: #d9186a;
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 20px;
  font-weight: normal;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .secao.participe .tema-do-momento .rosa {
    padding: 0 10%;
  }
}
.secao.participe .espacamento {
  height: 100px;
}
.secao.participe .lully {
  text-align: right;
}
.secao.participe .lully img {
  width: 100%;
  max-width: 412px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .secao.participe .lully {
    display: none;
  }
}
.secao.participe footer {
  padding-bottom: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .secao.participe .pure-u-13-24,
  .secao.participe .pure-u-11-24 {
    width: 100%;
  }
}
.secao.premios {
  background: url('../../images/concurso/bg-premios.png') #eb6e24 center top no-repeat;
}
.secao.premios header {
  padding-top: 30px;
}
.secao.premios header nav {
  min-height: 151px;
}
@media only screen and (min-width: 701px) {
  .secao.premios header nav {
    margin-top: -30px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 700px) {
  .secao.premios header nav {
    margin-top: 0;
  }
}
.secao.premios header nav ul li a.mn-home {
  padding: 0 7px;
  width: 202px;
  background-color: transparent;
}
@media only screen and (min-width: 701px) {
  .secao.premios header nav ul li a.mn-home {
    height: 151px;
    margin-bottom: 0;
  }
  .secao.premios header nav ul li a.mn-home img {
    display: block;
    max-width: 100%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 700px) {
  .secao.premios header nav ul li a.mn-home {
    height: auto;
    margin-bottom: 6px;
  }
  .secao.premios header nav ul li a.mn-home img {
    display: block;
    max-width: 90%;
  }
}
.secao.premios header nav ul li a.mn-home img {
  display: block;
}
.secao.premios header nav ul li a.mn-home:hover {
  background-color: transparent;
}
.secao.premios header nav ul li a.mn-regulamento,
.secao.premios header nav ul li a.mn-participe,
.secao.premios header nav ul li a.mn-premios {
  background-color: #531e50;
  color: #b6c733;
}
@media only screen and (min-width: 701px) {
  .secao.premios header nav ul li a.mn-regulamento,
  .secao.premios header nav ul li a.mn-participe,
  .secao.premios header nav ul li a.mn-premios {
    margin-top: 60px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 700px) {
  .secao.premios header nav ul li a.mn-regulamento,
  .secao.premios header nav ul li a.mn-participe,
  .secao.premios header nav ul li a.mn-premios {
    margin-top: 0px;
  }
}
.secao.premios header nav ul li a.mn-regulamento:hover,
.secao.premios header nav ul li a.mn-participe:hover,
.secao.premios header nav ul li a.mn-premios:hover,
.secao.premios header nav ul li a.mn-regulamento.ativo,
.secao.premios header nav ul li a.mn-participe.ativo,
.secao.premios header nav ul li a.mn-premios.ativo {
  color: #531e50;
  background-color: #b6c733;
}
.secao.premios .premiacao {
  background: url('../../images/concurso/premios.png') left top no-repeat;
}
@media only screen and (min-width: 0px) and (max-width: 979px) {
  .secao.premios .premiacao {
    background-size: 100% auto;
  }
}
@media only screen and (min-width: 571px) {
  .secao.premios .premiacao {
    padding-top: 255px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 570px) {
  .secao.premios .premiacao {
    text-align: center;
    padding-top: 74%;
  }
}
.secao.premios .premiacao p {
  color: #531e50;
  font-family: 'Arvo', serif;
  font-size: 16px;
  font-weight: bold;
}
.secao.premios .premiacao p.detalhe-premio {
  margin-top: 20px;
  line-height: 160%;
  font-family: 'Arvo', serif;
  font-size: 12px;
  font-weight: bold;
}
.secao.premios .premiacao p.detalhe-premio .titulo-premio {
  display: block;
  font-family: 'Arvo', serif;
  font-size: 20px;
  font-weight: bold;
}
.secao.premios .resultados h2,
.secao.premios .premiados h2 {
  color: #d9186a;
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 36px;
  font-weight: normal;
}
.secao.premios .resultados p,
.secao.premios .premiados p {
  line-height: 150%;
  margin-top: 20px;
  font-family: 'Arvo', serif;
  font-size: 14px;
  font-weight: bold;
  color: #531e50;
}
.secao.premios .resultados p.sem-margem,
.secao.premios .premiados p.sem-margem {
  margin-top: 0;
}
.secao.premios .resultados p span.titulo,
.secao.premios .premiados p span.titulo {
  font-size: 20px;
}
.secao.premios .resultados p span.destaque,
.secao.premios .premiados p span.destaque {
  font-size: 18px;
}
.secao.premios .resultados p span.branco,
.secao.premios .premiados p span.branco {
  color: #fff;
}
@media only screen and (min-width: 0px) and (max-width: 979px) {
  .secao.premios .resultados,
  .secao.premios .premiados {
    text-align: center;
  }
}
@media only screen and (min-width: 0px) and (max-width: 979px) {
  .secao.premios .resultados {
    margin-top: 60px;
  }
}
.secao.premios .premiados {
  margin-top: 40px;
}
.secao.premios footer {
  margin-top: 60px;
  border-top: 2px #EF8A36 solid;
  padding-top: 10px;
  padding-bottom: 20px;
  position: relative;
}
@media only screen and (min-width: 611px) {
  .secao.premios footer .promocao {
    position: absolute;
    top: 10px;
    right: 0;
  }
}
@media only screen and (min-width: 0px) and (max-width: 610px) {
  .secao.premios footer .promocao {
    float: none;
    text-align: right;
    position: relative;
  }
}
.secao.premios footer .assinatura {
  max-width: 370px;
  width: 100%;
}
.secao.premios footer .assinatura p {
  color: #531e50;
  line-height: 140%;
  font-family: 'Arial', sans-serif;
  font-size: 11px;
  font-weight: normal;
}
.secao.premios footer .assinatura p a {
  color: #531e50;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.secao.premios footer .assinatura p a:active,
.secao.premios footer .assinatura p a:visited {
  color: #531e50;
}
.secao.premios footer .assinatura p a:hover {
  color: #ffffff;
}
.secao.premios footer .assinatura .trupe {
  margin-top: 25px;
  font-family: 'Arial', sans-serif;
  font-size: 10px;
  font-weight: normal;
}
.secao.premios footer .assinatura .trupe a {
  color: #531e50;
  border-bottom: 1px transparent solid;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.secao.premios footer .assinatura .trupe a:active,
.secao.premios footer .assinatura .trupe a:visited {
  color: #531e50;
}
.secao.premios footer .assinatura .trupe a:hover {
  color: #fff;
}
.secao.premios footer .assinatura .trupe a img {
  vertical-align: -3px;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .secao.premios .pure-u-5-8,
  .secao.premios .pure-u-3-8 {
    width: 100%;
  }
}
.secao.premios .vencedores {
  border-top: 2px #531e50 solid;
  padding: 20px 0 0 0;
  margin: 40px 0 0 0;
  text-align: center;
  clear: both;
}
.secao.premios .vencedores h1 {
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 50px;
  font-weight: normal;
  color: #b6c733;
  line-height: 140%;
}
.secao.premios .vencedores h1.roxo {
  margin-top: 50px;
  color: #531e50;
}
.secao.premios .vencedores h1.rosa {
  margin-top: 5px;
  color: #d9186a;
}
.secao.premios .vencedores h2 {
  font-family: 'Arvo', serif;
  font-size: 24px;
  font-weight: normal;
  color: #b6c733;
}
.secao.premios .vencedores .grid-vencedores {
  margin: 30px 0;
}
.secao.premios .vencedores .grid-vencedores h3 {
  font-family: 'Arvo', serif;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}
.secao.premios .vencedores .grid-vencedores p {
  height: 133px;
  color: #fff;
  line-height: 120%;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
.secao.premios .vencedores .grid-vencedores p.nome {
  height: auto;
  margin-top: 20px;
  color: #531e50;
}
.secao header {
  width: 100%;
  max-width: 980px;
  margin: 0 auto 20px auto;
}
.secao header .social {
  width: 100%;
  height: 30px;
  padding: 5px 0;
}
.secao header .social .box {
  text-align: right;
}
@media only screen and (min-width: 700px) and (max-width: 979px) {
  .secao header nav {
    text-align: center;
  }
}
.secao header nav ul {
  list-style: none;
}
@media only screen and (min-width: 0px) and (max-width: 699px) {
  .secao header nav ul li {
    display: block;
    margin: 3px 0 3px 3px;
  }
}
@media only screen and (min-width: 700px) {
  .secao header nav ul li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
  }
}
.secao header nav ul li a {
  display: block;
  padding: 0 30px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: #531e50;
  color: #eb6e24;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -o-border-radius: 35px;
  border-radius: 35px;
  behavior: url('PIE.htc');
  font-family: 'Arvo', serif;
  font-size: 16px;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.secao header nav ul li a:active,
.secao header nav ul li a:visited {
  color: #eb6e24;
}
.secao header nav ul li a:hover,
.secao header nav ul li a.ativo {
  color: #531e50;
  background-color: #eb6e24;
}
.secao header nav ul li a.mn-home {
  max-width: 173px;
}
.secao header nav ul li a.mn-regulamento {
  max-width: 111px;
}
.secao header nav ul li a.mn-participe {
  max-width: 82px;
}
.secao header nav ul li a.mn-premios {
  max-width: 71px;
}
@media only screen and (min-width: 0px) and (max-width: 979px) {
  .secao .centro {
    max-width: 520px;
    width: 94%;
    margin: 0 auto;
    padding: 0 3%;
  }
}
@media only screen and (min-width: 980px) {
  .secao .centro {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
  }
}
.secao footer {
  min-height: 52px;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}
.secao footer .promocao {
  font-family: 'Arvo', serif;
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  vertical-align: top;
  float: right;
}
@media only screen and (min-width: 0px) and (max-width: 979px) {
  .secao footer .promocao {
    margin-right: 10%;
  }
}
span.roxo {
  color: #531e50;
}
body {
  position: relative;
}
body .mensagem-outer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url('rgba.php/rgba(95, 62, 76, 0.5)');
  background: rgba(95, 62, 76, 0.5);
}
body .mensagem-outer .mensagem-caixa {
  width: 300px;
  margin: 150px auto 0 auto;
  padding: 10px 15px 10px 15px;
  background-color: #fff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  behavior: url('PIE.htc');
  -webkit-box-shadow: 0px 0px 12px 1px #000;
  -moz-box-shadow: 0px 0px 12px 1px #000;
  -ms-box-shadow: 0px 0px 12px 1px #000;
  -o-box-shadow: 0px 0px 12px 1px #000;
  box-shadow: 0px 0px 12px 1px #000;
}
body .mensagem-outer .mensagem-caixa .mensagem-texto {
  font-family: 'Arvo', serif;
  font-size: 18px;
  font-weight: normal;
  color: #531e50;
  text-align: center;
  margin: 0 0 10px 0;
}
body .mensagem-outer .mensagem-caixa .mensagem-ok {
  display: block;
  margin: 20px auto 0 auto;
  width: 90px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  behavior: url('PIE.htc');
  background-color: #eb6e24;
  color: #531e50;
  font-family: 'Arvo', serif;
  font-size: 18px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .mensagem-outer .mensagem-caixa .mensagem-ok:active,
body .mensagem-outer .mensagem-caixa .mensagem-ok:visited {
  color: #531e50;
}
body .mensagem-outer .mensagem-caixa .mensagem-ok:hover {
  color: #fff;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -o-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
.progress {
  position: relative;
  display: inline-block;
  width: 5em;
  height: 5em;
  margin: 0 .5em;
  font-size: 12px;
  text-indent: 999em;
  overflow: hidden;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps(8);
  -webkit-animation-play-state: running;
  -moz-animation-name: spin;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: steps(8);
  -moz-animation-play-state: running;
  -ms-animation-name: spin;
  -ms-animation-duration: 1s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: steps(8);
  -ms-animation-play-state: running;
  -o-animation-name: spin;
  -o-animation-duration: 1s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: steps(8);
  -o-animation-play-state: running;
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(8);
  animation-play-state: running;
}
.progress:before,
.progress:after,
.progress > div:before,
.progress > div:after {
  content: '';
  position: absolute;
  top: 0;
  left: 2.45em;
  /* (container width - part width)/2  */

  width: .1em;
  height: 1.5em;
  border-radius: .2em;
  background: #eee;
  box-shadow: 0 3.5em #eee;
  /* container height - part height */

  -webkit-transform-origin: 50% 2.5em;
  -moz-transform-origin: 50% 2.5em;
  -ms-transform-origin: 50% 2.5em;
  -o-transform-origin: 50% 2.5em;
  transform-origin: 50% 2.5em;
  /* container height / 2 */

}
.progress:before {
  background: #555;
}
.progress:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #777;
}
.progress > div:before {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  background: #999;
}
.progress > div:after {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background: #bbb;
}
