h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 130%;
  color: #4A4748;
  margin: 10px 0;
}
h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 130%;
  color: #4A4748;
  margin: 10px 0;
}
h3 {
  color: #000;
  line-height: 140%;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: normal;
}
p {
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 20px 0;
  color: #4A4748;
  line-height: 150%;
}
.preto{color:#4A4748;}
.vermelho,
.vermelho {
  color: #c61a1a;
}
.bold,
.bold {
  font-weight: bold;
}
.semmargem {
  margin: 0;
}
.semmargem-t {
  margin-top: 0;
}
.semmargem-b {
  margin-bottom: 0;
}

p.olho {
  padding: 15px 20px;
  color: #fff;
  background-color: #698291;
}
.fundo-cinza {
  background-color: #E6E6E6;
  text-align: left;
  padding: 15px;
}
.aguarde {
  height: 60px;
  line-height: 60px;
  background-color: #c61a1a;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
a.vermelho {
  text-align: center;
  display: block;
  height: 60px;
  line-height: 60px;
  background-color: #c61a1a;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
a.vermelho:active,
a.vermelho:visited {
  color: #fff;
}
a.vermelho:hover {
  background-color: #698291;
}