.not-found
    background $azulMarca
    text-align center
    padding 200px 0
    +tablet()
        padding 140px 0
    +mobile()
        padding 70px 0
    h1
        display inline-block
        border 2px solid #fff
        border-radius 2px
        padding 14px 20px
        opensans 13 bold
        letter-spacing 1px
        text-transform uppercase
        color #fff
