footer
    background $azulEscuro
    .colunas
        .center
            display flex
        .representante
        .links
        .contato
        .marca
            padding 25px 0
            opensans 12
            color #fff
            a:hover
                color lighten($azul, 45)
        .representante
            background $azul
            padding-left 20px
            padding-right 20px
            margin-right 14px
            p
                margin 0 0 20px
                font-weight 700
            a
                display block
                border-top 1px solid lighten($azul, 10)
                padding 5px
        .links
            border-left 1px solid lighten($azul, 10)
            padding-left 10px
            padding-right 22px
            max-width 165px
            a
                display block
                margin-bottom 2px
                &:not(.sub)
                    text-transform uppercase
                    font-weight 700
                    margin-bottom 5px
        .contato
            border-left 1px solid lighten($azul, 10)
            padding-left 10px
            padding-right 22px
            max-width 165px
            flex 1
            p
                margin 0 0 3px
            a
                display block
                text-transform uppercase
                font-weight 700
                margin-bottom 5px
                &.email
                &.sub
                    text-transform none
                    font-weight 400
                    margin-bottom 3px
                &.email
                    margin-bottom 15px
            .social
                margin-top 15px
                display inline-block
                font-size 0
                a
                    width 16px
                    height 16px
                    display inline-block
                    text-indent -9999px
                    margin-right 4px
                    background-size 100% 100%
                    background-repeat no-repeat
                    transition transform .3s
                    &:hover
                        transform translateY(-2px)
                    &.facebook
                        background-image $img('layout2017/ico-facebook.png')
                    &.instagram
                        background-image $img('layout2017/ico-instagram.png')
                    &.youtube
                        background-image $img('layout2017/ico-youtube.png')
        .marca
            min-width 125px
            margin-left auto
            img
                display block
            p
                opensans 9
                margin 40px 0 5px
        +tablet()
            .links
                display none
            .representante
            .contato
            .marca
                width 33.333%
                max-width 100%
            .marca
                text-align right
                img
                    margin-left auto
        +mobile()
            .links
            .representante
                display none
            .contato
            .marca
                width 50%
                max-width 100%
            .marca
                text-align right
                img
                    margin-left auto
    .copyright
        background $azul
        border-top 1px solid lighten($azul, 10)
        padding 10px 0
        p
            margin 0
            text-align center
            opensans 10
            color #009CD4
            +mobile()
                line-height 1.6
            span
                margin 0 5px
                +mobile()
                    display block
                    font-size 0
            a:hover
                color #fff
