header
    .menu-superior
        background #EFF4F4
        font-size 0
        +mobile()
            display none
        a
            display inline-block
            opensans 12
            color $azulMarca
            text-transform uppercase
            padding 12px
            transition background .3s
            &:hover
                background $azulClaro
                color $azul
            &.active
                background $azulMarca
                color #fff
    .menu-principal
        height 100px
        .logo
            height 100%
            width 125px
            display block
            float left
            margin-right 30px
            text-indent -9999px
            background $img('layout2017/marca-jandaia.png') no-repeat center
            +tablet()
                margin-right 25px
        .nav-desktop
            height 100%
            float left
            clearfix()
            +mobile()
                display none
            a
                line-height 100px
                display block
                float left
                opensans 16
                text-transform uppercase
                color $azulMarca
                padding 0 20px
                transition background .3s
                &:hover
                &.active
                    background $azulClaro2
                +tablet()
                    opensans 15
                    padding 0 15px
        .busca
            height 100%
            float left
            margin 0 25px
            +below($tablet)
                display none
            .input-wrapper
                width 200px
                border 1px solid darken(#EFF4F4, 10)
                height 32px
                transform skewX(-10deg)
                border-radius 8px
                margin-top 34px
                input
                    border 0
                    outline 0
                    width 100%
                    height 100%
                    background-color transparent !important
                    transform skewX(10deg)
                    color $azulMarca
                    opensans 14
                    padding-left 40px
                    padding-right 10px
                    background-image $img('layout2017/lupa-busca.png')
                    background-repeat no-repeat
                    background-position 10px center
                    +placeholder()
                        color $azulMarca
        .social
            display block
            height 100%
            float left
            a
                width 20px
                height 20px
                display block
                float left
                text-indent -9999px
                margin-right 4px
                margin-top 40px
                background-size 100% 100%
                background-repeat no-repeat
                transition transform .3s
                &:hover
                    transform translateY(-2px)
                &.facebook
                    background-image $img('layout2017/ico-facebook.png')
                &.instagram
                    background-image $img('layout2017/ico-instagram.png')
                &.youtube
                    background-image $img('layout2017/ico-youtube.png')
            +tablet()
                float right
            +mobile()
                float right
                margin-top 22px
                a
                    width 16px
                    height 16px
                    float none
                    margin-top 0
                    margin-bottom 3px
                    &:last-child
                        margin-bottom 0
        #mobile-toggle
            +above($mobile)
                display none
            display block
            background-color transparent
            border 0
            float right
            margin-left 15px
            height 100%
            width 32px
            outline 0
            padding 0
            .lines
                display block
                width 100%
                height 5px
                background $azulMarca
                position relative
                transition .3s ease
                border-radius 4px
                &:before
                &:after
                    content ""
                    display block
                    position absolute
                    left 0
                    width 100%
                    height 5px
                    border-radius 4px
                    background $azulMarca
                    transition .3s ease
                &:before
                    top 8px
                &:after
                    top -8px
            &.close
                .lines
                    background transparent
                    &:before
                    &:after
                        transform-origin 50% 50%
                        top 0
                    &:before
                        transform rotate3d(0,0,1,45deg)
                    &:after
                        transform rotate3d(0,0,1,-45deg)

#nav-mobile
    display none
    +above($mobile)
        display none !important
    .superior
        background #EFF4F4
        text-align center
        padding 10px 0
        a
            display block
            opensans 13
            color $azulMarca
            text-transform uppercase
            margin 2px 0
            &.active
                color $azul
    .principal
        background $azulMarca
        text-align center
        padding 10px 0
        a
            display block
            opensans 15 bold
            text-transform uppercase
            color #fff
            margin 3px 0
            &.active
                color $azulEscuro
