.contato
    padding 50px 0
    +mobile()
        padding 25px 0
    .center
        clearfix()
    .info
        width 300px
        float left
        +tablet()
            width 210px
        h2
            margin 0 0 15px
            raleway 20 bold
            color $azulMarca
        p
            margin 0
            opensans 20
            color $azul
            a
                display block
                font-size 16px
                margin-bottom 3px
                &:hover
                    text-decoration underline
    form
        width calc('100% - 300px')
        max-width 600px
        float left
        +tablet()
            width calc('100% - 210px')
            max-width 100%
        +mobile()
            width 100%
            max-width 100%
            margin-top 30px
        .resposta
            width 100%
            display block
            padding 12px
            border 2px solid $azulClaro
            text-align center
            margin-bottom 10px
            opensans 14 bold
            &.falha
                color #B61A17
            &.sucesso
                color $azulMarca
        input
        textarea
            display block
            width 100%
            raleway 16
            color $azul
            padding 8px
            border 0
            min-height 30px
            margin-bottom 5px
            outline 0
            background $azulClaro
            resize none
            +placeholder()
                color $azulMarca
        textarea
            height 210px
        input[type='submit']
            background $azulMarca
            width 250px
            color #fff
            font-weight 700
            padding 12px
            height auto
            transition background .3s
            &:hover
                background $azulEscuro
