.landing-educacao
    .landing-educacao-banners
        img
            display block
            margin 0 auto
            max-width 100%
            left 50% !important
            transform translateX(-50%)
            +tablet()
                width 100%
                height 360px
                object-fit cover
            +mobile()
                width 100%
                height 230px
                object-fit cover
        .cycle-pager
            width 100%
            padding 5px 0
            font-size 0
            text-align center
            +mobile()
                display none
            a
                display inline-block
                width 40px
                height 4px
                margin 0 2px
                background #CCCCCC
                transition background .3s
                &.cycle-pager-active
                    background #1A5DA6
    .landing-educacao-sections
        section
            position relative
            letter-spacing .5px
            +mobile()
                padding 30px 0 !important
            .section-center
                width 850px
                margin 0 auto
                position relative
                z-index 2
                clearfix()
                +tablet()
                    width 710px
                +mobile()
                    width 90%
                    padding 0 !important
            &:before
                content ''
                display block
                position absolute
                background #fff
                height 100px
                top 0
                left 0
                right 0
                transform skewY(-3deg)
                transform-origin 0 100%
                +mobile()
                    display none
            &:after
                content ''
                display block
                position absolute
                background #fff
                height 100px
                bottom 0
                left 0
                right 0
                transform skewY(-3deg)
                transform-origin 100%
                +mobile()
                    display none
            h2
                roboto 40 bold
                margin 0 0 30px
                +tablet()
                    font-size 30px
                    margin 0 0 20px
                +mobile()
                    font-size 24px
                    margin 0 0 15px
            p
            li
                roboto 24
                margin 0
                +tablet()
                    font-size 18px
                +mobile()
                    font-size 16px
            p + p
                margin-top 1em
            ul
                list-style-type none
                padding 0
                li
                    + li
                        margin-top .5em
                    span
                        font-weight 700
                    a:hover
                        text-decoration underline
            .fio
                position absolute
                width 6px
                background #000
                left 45px
                top 0
                z-index 3
                +tablet()
                    width 4px
                    left 30px
                +mobile()
                    display none
            &.section-branco
                padding 20px 0
                h2
                    color #00B0EC
                &:before
                &:after
                    display none
            &.section-azul
                background #00B0EC
                padding 100px 0
            &.section-amarelo
                background #FFCC01
                padding 100px 0
            &.section-1
                padding-top 105px
                +tablet()
                    padding-top 65px
                    padding-bottom 0
                    margin-bottom -20px
                +mobile()
                    padding-top 20px !important
                p
                    display inline-block
                    padding-left 80px
                    position relative
                    +tablet()
                        padding-left 65px
                    +mobile()
                        padding-left 0
                    &:after
                        content ''
                        position absolute
                        background $img('landing-educacao/detalhe.png')
                        width 38px
                        height 92px
                        right -60px
                        top -28px
                        +below($tablet)
                            transform scale(.6)
                            transform-origin right center
                            right -45px
                            top -35px
                img
                    position absolute
                    right 20px
                    top -20px
                    +tablet()
                        transform scale(.7)
                        transform-origin right top
                    +mobile()
                        position relative
                        display block
                        right auto
                        top auto
                        max-width 120px
                        margin-bottom 25px
                .fio
                    background #00B0EC
                    top -50px
                    height 44px
                    &:last-child
                        background #000
                        top 200px
                        height 255px
                    +tablet()
                        top -40px
                        height 35px
                        &:last-child
                            top 148px
                            height 182px
            &.section-2
                padding-top 70px
                img
                    position absolute
                    left 0
                    top 70px
                ul
                    width 330px
                    float right
                .fio
                    top 275px
                    height 147px
                +tablet()
                    padding-top 80px
                    img
                        transform scale(.7)
                        transform-origin left top
                        top 50px
                    ul
                        width 250px
                    .fio
                        top 198px
                        height 130px
                +mobile()
                    img
                        position relative
                        top auto
                        max-width 200px
                    ul
                        width 100%
                        margin-bottom 0
            &.section-3
                padding 30px 0 0
                margin-bottom -20px
                ul
                    padding-left 80px
                img
                    position absolute
                    right 0
                    top 30px
                .fio
                    top 150px
                    height 345px
                    background #00B0EC
                +tablet()
                    padding 0
                    ul
                        padding-left 65px
                    img
                        transform scale(.7)
                        transform-origin right top
                        top 0
                    .fio
                        top 112px
                        height 282px
                +mobile()
                    padding 30px 0
                    margin-bottom 0
                    ul
                        width 100%
                        margin-bottom 0
                        padding 0
                        text-overflow ellipsis
                        overflow hidden
                        li
                            text-overflow ellipsis
                            white-space nowrap
                    img
                        position relative
                        top auto
                        max-width 200px
                        display block
                        margin -10px 0 20px
            &.section-4
                h2
                    position absolute
                    left 0
                    top 90px
                img
                    position absolute
                    top 210px
                    left 190px
                ul
                    float right
                    width 330px
                .fio
                    top 242px
                    height 246px
                +tablet()
                    padding-bottom 110px
                    h2
                        top 70px
                    img
                        transform scale(.7)
                        transform-origin left top
                        top 160px
                        left 150px
                    ul
                        width 250px
                    .fio
                        top 180px
                        height 217px
                +mobile()
                    h2
                        position relative
                        top auto
                    ul
                        width 100%
                    img
                        position relative
                        top auto
                        left auto
                        max-width 80px
                        margin-bottom 20px
            &.section-5
                ul
                    padding-left 80px
                img
                    position absolute
                    right -10px
                    top 0
                .fio
                    top 105px
                    height 425px
                    background #00B0EC
                +tablet()
                    padding 0
                    margin-bottom -20px
                    ul
                        padding-left 65px
                    img
                        transform scale(.7)
                        transform-origin right top
                    .fio
                        top 78px
                        height 315px
                +mobile()
                    ul
                        padding 0
                    img
                        position relative
                        right auto
                        margin-top 20px
                        max-width 140px
            &.section-6
                padding-top 120px
                ul
                    width 330px
                    position absolute
                    right 0
                    top 55px
                img
                    margin-left 75px
                .fio
                    top 150px
                    height 315px
                +tablet()
                    padding-bottom 60px
                    ul
                        width 250px
                    img
                        margin-left 70px
                        transform scale(.7)
                        transform-origin left top
                    .fio
                        top 112px
                        height 249px
                +mobile()
                    ul
                        position relative
                        width 100%
                        right auto
                        top auto
                    img
                        margin 0
                        max-width 120px
                        margin-top 20px
            &.section-7
                ul
                    padding-left 80px
                    width 460px
                img
                    position absolute
                    right 130px
                    top -50px
                .fio
                    top 152px
                    height 432px
                    background #00B0EC
                +tablet()
                    padding 0
                    margin-bottom -20px
                    ul
                        padding-left 65px
                        width 300px
                    img
                        transform scale(.7)
                        transform-origin right top
                    .fio
                        top 110px
                        height 346px
                +mobile()
                    ul
                        padding-left 0
                        width 100%
                        margin-bottom 0
                    img
                        display block
                        position relative
                        right auto
                        top auto
                        margin-bottom 20px
                        max-width 110px
            &.section-8
                padding 120px 0 60px
                &:after
                    display none
                .texto-1
                    width 420px
                    position absolute
                    right 0
                    top 75px
                    img
                        position absolute
                        left -244px
                        bottom 0
                h2:nth-child(3)
                    margin-top 200px
                    margin-bottom 30px
                .texto-2
                    width 800px
                    padding-left 200px
                    position relative
                    img
                        position absolute
                        top 0
                        left 10px
                .fio
                    height 172px
                    top 154px
                +tablet()
                    padding-top 100px
                    .section-center
                        padding-top 40px
                    .texto-1
                        width 350px
                        top 90px
                        img
                            left -200px
                            transform scale(.7)
                    h2:nth-child(3)
                        margin-top 150px
                        margin-bottom 20px
                    .texto-2
                        width 100%
                        img
                            transform scale(.7)
                    .fio
                        height 132px
                        top 152px
                +mobile()
                    .texto-1
                    .texto-2
                        position relative
                        width 100%
                        top auto
                        right auto
                        padding 0
                        img
                            position relative
                            top auto
                            left auto
                            margin-bottom 20px
                            max-width 80px
                    h2:nth-child(3)
                        margin 1.5em 0 15px
