.encontrar
    position relative
    padding 50px 0
    +mobile()
        padding 25px 0
    h1
        opensans 20 bold
        color $azulMarca
        margin 0 0 5px
        +mobile()
            font-size 18px
    h2
        opensans 16 bold
        color $azulEscuro
        margin 0 0 45px
        text-transform uppercase
        +mobile()
            font-size 15px
            margin-bottom 30px
    form
        width 100%
        max-width 1125px
        .row
            clearfix()
            margin-bottom 5px
            select
            input
                width calc('100% - 625px')
                float right
                height 30px
                background $azulClaro
                border 0
                outline 0
                opensans 16
                color $azulMarca
                padding 0 7px
                +placeholder()
                    color $azulMarca
                +below(desktop-base-width)
                    width 100%
                    float left
            input[type='submit']
                background $azulMarca
                width 250px
                color #fff
                font-weight 700
                padding 12px
                height auto
                float left
                margin-left 625px
                transition background .3s
                &:hover
                    background $azulEscuro
                +below(desktop-base-width)
                    margin-left 0
            label
                width 625px
                text-align right
                padding-right 22px
                float left
                opensans 16
                color $azulMarca
                line-height 30px
                +below(desktop-base-width)
                    display block
                    width 100%
                    text-align left
                    line-height 1.4
                    margin 10px 0 5px
            &:first-child
                label
                    margin-top 0
    .botao-online
        margin-top 30px
        width 100%
        display block
        background $img('layout2017/bg-compreOnline.jpg') no-repeat center
        height 234px
        padding-top 50px
        text-align center
        p
            width 100%
            margin 0 0 20px
            opensans 36
            color $azulMarca
        span
            display inline-block
            background $azulMarca
            opensans 16
            color #fff
            padding 22px 44px
            transition background .3s, color .3s
        +tablet()
            background-position center left
            text-align right
            padding-right 30px
            p
                font-size 30px
            span
                padding 15px 30px
        +mobile()
            height auto
            background $azulEscuro
            padding 20px
            p
                font-size 24px
            span
                font-size 14px
        &:hover span
            background #98C668
            color $azulMarca
    .encontrar-resultados
    .encontrar-resultados-online
        margin-top 35px
        h2
            font-size 22px
            margin-bottom 20px
            +mobile()
                font-size 16px
        h3
            opensans 20
            color $azulMarca
            +mobile()
                font-size 18px
    .encontrar-resultados
        > div
            font-size 0
            display flex
            flex-wrap wrap
            div
                width calc('33.333% - 10px')
                border 2px solid $azulClaro
                padding 20px
                display inline-block
                vertical-align top
                opensans 14
                color $azulMarca
                margin-right 15px
                margin-bottom 15px
                p
                    margin 0
                &:nth-child(3n)
                    margin-right 0
                +tablet()
                    width calc('50% - 8px')
                    margin-right 16px
                    margin-bottom 16px
                    &:nth-child(3n)
                        margin-right 16px
                    &:nth-child(2n)
                        margin-right 0
                +mobile()
                    width 100%
                    margin-right 0
    .encontrar-resultados-online
        > div
            font-size 0
            display flex
            flex-wrap wrap
            a
                width calc('33.333% - 10px')
                border 2px solid $azulClaro
                padding 20px
                display inline-block
                vertical-align top
                opensans 14
                color $azulMarca
                margin-right 15px
                margin-bottom 15px
                transition border .3s
                &:hover
                    border-color $azulMarca
                p
                    margin 0
                img
                    max-width 100%
                    margin 0 auto 10px
                    display block
                &:nth-child(3n)
                    margin-right 0
                +tablet()
                    width calc('50% - 8px')
                    margin-right 16px
                    margin-bottom 16px
                    &:nth-child(3n)
                        margin-right 16px
                    &:nth-child(2n)
                        margin-right 0
                +mobile()
                    width 100%
                    margin-right 0
