.home
    .banners
        width 100%
        > a
            display block
            width 100%
            height 525px
            background-size cover
            background-position center
            +tablet()
                height 400px
            +mobile()
                height 200px
        .cycle-pager
            width 100%
            padding 5px 0
            font-size 0
            text-align center
            +mobile()
                display none
            a
                display inline-block
                width 40px
                height 4px
                margin 0 2px
                background #CCCCCC
                transition background .3s
                &.cycle-pager-active
                    background $azulMarca
    .chamadas
        padding 40px 0 15px
        +mobile()
            padding 25px 0 10px
        .center
            clearfix()
        a
            display block
            width calc('33.333% - 26.667px')
            float left
            margin-right 40px
            margin-bottom 40px
            overflow hidden
            border-radius 10px
            position relative
            &:nth-child(3n)
                margin-right 0
            +tablet()
                width calc('33.333% - 20px')
                margin-right 30px
                margin-bottom 30px
            +mobile()
                width calc('50% - 10px')
                margin-right 20px
                margin-bottom 20px
                &:nth-child(3n)
                    margin-right 20px
                &:nth-child(2n)
                    margin-right 0
            img
                width 100%
                display block
                transition transform .3s ease-out
            .overlay
                position absolute
                width 100%
                height 100%
                background rgba($azulMarca, .7)
                top 0
                left 0
                transition opacity .3s
                opacity 0
                span
                    display block
                    width 100%
                    position absolute
                    top 0
                    left 0
                    padding 0 20px
                    text-align center
                    transform translateY(-50%)
                    transition all .3s
                    text-transform uppercase
                    letter-spacing 1px
                    opacity 0
                    opensans 14 bold
                    color #fff
            &:hover
                img
                    transform scale(1.1, 1.1) rotate(-5deg)
                .overlay
                    opacity 1
                    span
                        top 50%
                        opacity 1
    .novidade
        background #ECF2F2
        padding 50px 0
        +mobile()
            padding 30px 0
        .center
            clearfix()
        .imagem
            width 39%
            float left
            img
                display block
                width 100%
            +mobile()
                width 100%
                margin-bottom 20px
        h3
            width 230px
            float left
            padding 50px 40px 0
            raleway 28 thin
            margin 0
            color $azulMarca
            +tablet()
                padding-top 0
            +mobile()
                padding 0
                font-size 24px
                width 100%
                margin-bottom 15px
        p
            width calc('61% - 230px')
            float left
            padding-top 50px
            margin 0
            opensans 12
            line-height 1.8
            color $azulEscuro
            +tablet()
                padding-top 0
            +mobile()
                width 100%
                padding 0
    .mais
        background $azulClaro
        padding 50px 0
        text-align center
        +mobile()
            padding 30px 0 5px
        h2
            raleway 28 thin
            margin 0 0 25px
            color $azulMarca
            +mobile()
                font-size 24px
        .mais-wrapper
            width 100%
            font-size 0
            text-align center
            a
                width 20%
                display inline-block
                vertical-align top
                +mobile()
                    width 50%
                    margin-bottom 25px
                .icone
                    display block
                    width 125px
                    height 125px
                    background-color #fff
                    background-repeat no-repeat
                    background-position center
                    border-radius 100%
                    margin 0 auto 20px
                    transition all .3s
                    position relative
                    +mobile()
                        margin-bottom 15px
                &:hover
                    .icone
                        transform translateY(-5px)
                        box-shadow 0 3px 8px rgba($azul, .3)
                span
                    opensans 13 normal italic
                    color $azulMarca
                    max-width 190px
                    display block
                    margin 0 auto
                    +below($tablet)
                        max-width 150px
                &.mais-1 .icone
                    background-image $img('layout2017/ico-mais1.png')
                &.mais-2 .icone
                    background-image $img('layout2017/ico-mais2.png')
                &.mais-3 .icone
                    background-image $img('layout2017/ico-mais3.png')
                &.mais-4 .icone
                    background-image $img('layout2017/ico-mais4.png')
                &.mais-5 .icone
                    background-image $img('layout2017/ico-mais5.png')
    .video
        background $azulEscuro
        padding 75px 0
        margin-bottom 20px
        .center
            clearfix()
        +mobile()
            margin-bottom 10px
            padding 30px 0
        a
            display block
            width 50%
            height 0
            padding-bottom 25%
            background $img('layout2017/canal-youtube.png') no-repeat center
            text-indent -9999px
            float left
            +below(1030px)
                background-size auto 100%
            +mobile()
                width 100%
                height 200px
                padding 0
                margin-bottom 15px
        .video-wrapper
            width 50%
            float left
            +mobile()
                width 100%
            .embed
                position relative
                padding-bottom 56.25%
                height 0
                iframe
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
