.jandaia
    padding 50px 0
    .center
        clearfix()
    +mobile()
        padding 25px 0
    nav
        width 240px
        float left
        clearfix()
        h2
            raleway 20 bold
            color $azulMarca
            margin 0 0 .85em
        a
            display inline-block
            raleway 14 bold
            color $azul
            text-transform uppercase
            float left
            clear left
            padding 6px
            margin 0
            transition background .3s
            line-height 1
            &:hover
            &.active
                background $azulClaro
        +mobile()
            width 100%
            margin-bottom 30px
    .coluna-direita
        width calc('100% - 240px')
        float left
        +mobile()
            width 100%
        clearfix()
        h1
            raleway 36 thin
            color $azulMarca
            margin 0
            width 255px
            float left
            margin-right 50px
        .texto
            width calc('100% - 305px')
            float right
            opensans 12
            color #666
            line-height 1.5
            p:first-child
                margin-top 0
        +below($tablet)
            h1
                float none
                width 100%
                margin-bottom 25px
                margin-right 0
                br
                    display none
            .texto
                width 100%
        +mobile()
            h1
                font-size 28px
                br
                    display none
    .img-center
        margin-top 50px
        float left
        width 100%
        img
            max-width 100%
            display block
            margin 0 auto
        +mobile()
            margin-top 20px

.sustentabilidade
    .imagem
        width 100%
        display block
        margin-top 50px
        float right
        +mobile()
            margin-top 20px
        img:first-child
            width 20%
            float left
            display block
            +mobile()
                display none
        img:last-child
            width 80%
            float left
            display block
            +mobile()
                width 100%

.lab
    #imagem-topo-lab
        float right
    #imagem-chamada-lab
        margin-top 80px
    +below($tablet)
        #imagem-topo-lab
        #imagem-chamada-lab
            margin 0
            float none
            display block
            max-width 100%
        #imagem-chamada-lab
            margin 30px 0
    p.island-p
        width 500px
        margin 40px 0 55px
        line-height 130%
        opensans 15
        color #007CC3
        +below($tablet)
            width 100%
        +mobile()
            margin 20px 0
    .box
        &.azul-claro
            .innerbox
                position relative
                &.vermelho
                    z-index 9
                    background #AE0D5D
                    height 189px
                    width 650px
                    border-radius 20px
                    img
                        margin-top 8px
                        margin-left 8px
                        float left
                    p
                        margin-left 310px
                        color #fff
                        line-height 130%
                        opensans 20
                        padding-top 40px
                &.azul
                    z-index 1
                    height 202px
                    width 680px
                    margin-left 240px
                    border-radius 20px
                    background #4D0CAE
                    position relative
                    p
                        position absolute
                        top 20px
                        left 40px
                        opensans 20
                        width 330px
                        color #fff
                        line-height 130%
                    img
                        float right
                        margin-top 8px
                        margin-right 8px
                +below($tablet)
                    &.vermelho
                    &.azul
                        width 100%
                        padding 20px
                        height auto
                        margin 0
                        img
                            display none
                        p
                            position relative
                            top auto
                            left auto
                            margin 0
                            padding 0
                            font-size 18px
                            text-align center
                            width auto
            .inner-p
                color #4D0CAE
                line-height 130%
                padding-left 10px
                margin-top 25px
                opensans 18
                +mobile()
                    font-size 15px
        &.fundo-branco
            min-height 476px
            margin-top 55px
            background url('../../images/lab/cadernos-angrybirds-jandaia.png') #fff right bottom no-repeat
            +below($tablet)
                min-height auto
                background none
                margin-top 30px
            p
                max-width 515px
                padding-left 10px
                +below($tablet)
                    max-width 100%
                &.azul
                    color #3D7489
                    line-height 130%
                    margin-bottom 20px
                    opensans 24
                &.laranja
                    color #FF6600
                    line-height 140%
                    margin-bottom 20px
                    opensans 16
                &.rosa
                    color #DC00C9
                    line-height 140%
                    margin-bottom 20px
                    opensans 16
                &.verde
                    color #009933
                    line-height 125%
                    margin-bottom 20px
                    opensans 30
                +tablet()
                    &.azul
                        font-size 20px
                    &.laranja
                    &.rosa
                        font-size 15px
                    &.verde
                        font-size 24px
                        br
                            display none
                +mobile()
                    &.azul
                        font-size 18px
                    &.laranja
                    &.rosa
                        font-size 14px
                    &.verde
                        font-size 20px
                        br
                            display none

.certificacoes
    .certificacoes-lista
        width 100%
        font-size 0
        margin-top 50px
        display flex
        float left
        flex-wrap wrap
        +mobile()
            margin-top 25px
        .certificacao
            width 47%
            display inline-block
            vertical-align top
            border-left 1px solid $azulMarca
            padding 0 0 50px 15px
            margin-bottom 45px
            &:nth-child(2n)
                margin-left 6%
            +mobile()
                width 100%
                margin-left 0 !important
                padding-bottom 25px
                margin-bottom 25px
            clearfix()
            .imagem
                float left
                width 125px
                img
                    display block
                    margin 0 auto
                    max-width 100%
            .texto
                width calc('100% - 135px')
                float right
                opensans 12
                color #666
                p:first-child
                    margin-top 0
                p:last-child
                    margin-bottom 0

.exportacao
    .exportacao-colunas
        clearfix()
        width 100%
        float left
        margin-top 50px
        +mobile()
            margin-top 25px
        +above($mobile)
            background $img('layout2017/bg-exportacao.png') no-repeat left top
    .downloads
        width 33.333%
        float left
        padding-top 50px
        position relative
        +tablet()
            width 45%
        +mobile()
            width 100%
            padding-top 0
        p
            position absolute
            top 0
            left 0
            line-height 50px
            margin 0
            opensans 16
            color $azul
            +mobile()
                position relative
                line-height 1.2
                font-size 14px
                margin-bottom 10px
        a
            display block
            padding 12px
            padding-left 70px
            raleway 14 bold
            color $azul
            margin-bottom 7px
            transition background .3s
            background $img('layout2017/icone-download.png') no-repeat 14px center rgba($azulClaro, .7)
            &:hover
                background-color $azulClaro
            strong
                raleway 12 bold
                color $azulMarca
                display block
    .videos
        width 49%
        float right
        font-size 0
        padding-top 50px
        +mobile()
            width 100%
            margin-top 25px
            padding-top 0
        a
            display inline-block
            vertical-align top
            margin-bottom 32px
            width calc('33.333% - 13.333px')
            margin-right 20px
            &:nth-child(3n)
                margin-right 0
            +below($tablet)
                width calc('50% - 10px')
                &:nth-child(2n)
                    margin-right 0
                &:nth-child(3n)
                    margin-right 20px
            img
                width 100%
                display block
                margin-bottom 10px
            .texto
                display block
                raleway 14 bold
                color $azul

.empresa
    .empresa-produtos
        background #ECF2F2
        margin-top 50px
        padding 35px 0 30px
        +mobile()
            margin-top 25px
            padding 20px 0
        .center
            clearfix()
        .titulo
            width 300px
            float left
            +mobile()
                width 100%
                margin-bottom 20px
            h3
                raleway 14 bold
                color $azulMarca
                margin 0 0 10px
            h2
                raleway 36 thin
                color $azulMarca
                margin 0
                +mobile()
                    font-size 28px
                    br
                        display none
        .texto
            width 400px
            float left
            opensans 12
            color #666
            +tablet()
                width calc('100% - 300px')
            +mobile()
                width 100%
            p
                &:first-child
                    margin-top 0
                &:last-child
                    margin-bottom 0
        img
            display block
            width 460px
            height auto
            float right
            +below($tablet)
                width 100%
                max-width 650px
                margin 0 auto
                padding-top 30px
                float none

.empresa-linha
    display block
    overflow hidden
    margin 30px auto 50px
    #timeline
        position relative
        &:before
            content ''
            position absolute
            width 100%
            height 1px
            left 0
            top 34px
            background rgba($azulMarca, .5)
        #dates
            height 60px
            overflow hidden
            width 100%
            margin-bottom 0
            +mobile()
                transform translateX(-40px)
            li
                list-style none
                float left
                width 100px
                height 50px
                text-align center
                overflow hidden
                a
                    raleway 24 thin
                    display block
                    padding-bottom 10px
                    line-height 100%
                    height 30px
                    color $azulMarca
                    position relative
                    &:after
                        content ''
                        position absolute
                        width 10px
                        height 10px
                        border 1px solid $azulMarca
                        border-radius 100%
                        bottom -10px
                        background #fff
                        left 50%
                        margin-left -5px
                        transition background .3s
                    &.selected:after
                        background $azulClaro
        #issues
            margin-left 0px
            list-style none
            height 260px
            margin 0
            li
                float left
                width 1200px
                .card
                    width 100%
                    margin 0 auto
                    +mobile()
                        transform translateX(-40px)
                    img
                        display block
                        margin 0 auto
                    p
                        opensans 16 bold italic
                        color $azulMarca
                        margin 15px auto 0
                        max-width 450px
                        text-align center
                    +mobile()
                        img
                            width 260px
                        p
                            max-width 80%
                            font-size 14px
        #next
        #prev
            +mobile()
                display none !important
            position absolute
            height 20px
            width 20px
            top 50%
            margin-top -10px
            border 1px solid $azulMarca
            text-indent -9999px
            display block
            transform rotate(45deg)
            opacity .5
            transition opacity .3s
            &:hover
                opacity 1
        #prev
            left 5px
            border-top none
            border-right none
        #next
            right 5px
            border-bottom none
            border-left none
