.produtos
    padding-bottom 50px
    +mobile()
        padding-bottom 20px
    .center
        clearfix()
    .submenu-tipos
        background $azulClaro2
        display inline-block
        margin 0 0 50px
        float left
        font-size 0
        +mobile()
            display block
            width 100%
            margin-bottom 25px
        a
            opensans 14
            color $azulMarca
            display inline-block
            padding 5px 17px
            transition background .3s
            &.active
            &:hover
                background $azulClaro
            +mobile()
                display block
    .aside-linhas
        clear left
        width 230px
        float left
        +mobile()
            width 100%
        h2
            opensans 20 bold
            margin 0 0 15px
            color $azulMarca
        .desktop
            +below($mobile)
                display none
            h3
                opensans 16 bold
                margin 0 0 5px
                color $azulEscuro
            a
                display block
                opensans 14
                color $azul
                padding 3px 5px
                transition background .3s
                &:hover
                &.active
                    background $azulClaro2
                &.active
                    font-weight 700
        .mobile
            +above($tablet)
                display none
            margin-bottom 30px
            > a
                display block
                background $azulEscuro
                opensans 13 bold
                color #fff
                padding 10px 15px
                position relative
                &:after
                    content ''
                    position absolute
                    width 8px
                    height 8px
                    transform rotate(45deg)
                    right 15px
                    top 50%
                    margin-top -6px
                    border-right 2px solid #fff
                    border-bottom 2px solid #fff
                    transition all .3s
                &.active:after
                    transform rotate(-135deg)
                    margin-top -2px
            > div
                display none
                background $azulClaro2
                a
                    display block
                    opensans 14
                    color $azul
                    padding 5px 15px
                    transition background .3s
                    &.active
                        background $azulClaro
                        font-weight 700
    .lista-produtos-tipo
        width calc('100% - 280px')
        float right
    .lista-produtos-capas
        margin-bottom 50px
        +mobile()
            margin-bottom 20px
    .lista-produtos-tipo
    .lista-produtos-capas
        display flex
        font-size 0
        flex-wrap wrap
        align-items center
        +mobile()
            width 100%
        a
            display inline-block
            vertical-align top
            width calc('25% - 33.75px')
            margin-right 40px
            margin-bottom 40px
            position relative
            img
                max-width 100%
                display block
                margin 0 auto
            .overlay
                width 60px
                height 60px
                position absolute
                top 20%
                left 50%
                margin-left -25px
                margin-top -30px
                background rgba($azulMarca, .8)
                border-radius 100%
                opacity 0
                transition all .3s
                &:after
                    content ''
                    position absolute
                    top 50%
                    left 50%
                    width 1px
                    height 30px
                    margin-top -15px
                    background #fff
                &:before
                    content ''
                    position absolute
                    top 50%
                    left 50%
                    height 1px
                    width 30px
                    margin-left -15px
                    background #fff
            &:hover .overlay
                opacity 1
                top 50%
            &:nth-child(4n)
                margin-right 0
            +tablet()
                width calc('33.333% - 26.667px')
                &:nth-child(4n)
                    margin-right 40px
                &:nth-child(3n)
                    margin-right 0
            +mobile()
                width calc('50% - 30px')
                &:nth-child(4n)
                    margin-right 30px
                &:nth-child(2n)
                    margin-right 0
    .resultados-busca
        width calc('100% - 280px')
        float right
        h2
            opensans 24
            color $azul
            margin 0 0 1em
        a
            display block
            opensans 16
            color $azulMarca
            margin 0 0 3px
            &:hover
                color $azulEscuro
        +mobile()
            width 100%
            h2
                font-size 18px
            a
                font-size 14px
    .lista-produtos-linha
    .lista-produtos-detalhe
        width calc('100% - 280px')
        float right
        +mobile()
            width 100%
        h1
            opensans 24
            color $azulMarca
            margin 0 0 1em
            span
                font-size .7em
            +mobile()
                font-size 20px
                span
                    display block
        h3
            opensans 16 light italic
            color $azulMarca
            margin 0
            +mobile()
                font-size 15px
            + h2
                margin-top 2.2em
        h2
            opensans 20 bold
            color $azul
            margin 1em 0 10px
            +mobile()
                font-size 18px
    .lista-produtos-linha-thumbs
        display flex
        font-size 0
        flex-wrap wrap
        align-items center
        +mobile()
            width 100%
        a
            display inline-block
            vertical-align top
            width calc('20% - 32px')
            margin-right 40px
            margin-bottom 40px
            position relative
            img
                max-width 100%
                display block
                margin 0 auto
            .overlay
                width 60px
                height 60px
                position absolute
                top 20%
                left 50%
                margin-left -25px
                margin-top -30px
                background rgba($azulMarca, .8)
                border-radius 100%
                opacity 0
                transition all .3s
                &:after
                    content ''
                    position absolute
                    top 50%
                    left 50%
                    width 1px
                    height 30px
                    margin-top -15px
                    background #fff
                &:before
                    content ''
                    position absolute
                    top 50%
                    left 50%
                    height 1px
                    width 30px
                    margin-left -15px
                    background #fff
            &:hover .overlay
                opacity 1
                top 50%
            +tablet()
                width calc('33.333% - 26.667px')
                &:nth-child(3n)
                    margin-right 0
            +mobile()
                width calc('50% - 30px')
                &:nth-child(2n)
                    margin-right 0
    .mais-mesma-linha
        float left
        width 100%
        margin-top 25px
        border-top 1px solid $azulMarca
        padding-top 15px
        margin-bottom 25px
        p
            display inline-block
            margin 0
            opensans 13 bold
            color $azulMarca
            +mobile()
                + a
                    margin-top 7px
        a
            display inline-block
            opensans 14
            color $azulMarca
            margin-left 12px
            &:hover
                text-decoration underline
            +mobile()
                display block
                margin-left 0
    .lista-produtos-detalhe
        clearfix()
        .esquerda
            width 40%
            float left
            +mobile()
                width 100%
                margin-bottom 20px
            img
                max-width 100%
                display block
        .direita
            width 55%
            float right
            +mobile()
                width 100%
            h1
                margin-bottom .5em
            .detalhes
                p
                    margin 0
                    opensans 14
                    color $azulMarca
                    line-height 1
            .lista-produtos-miolos
                margin-top 30px
                display flex
                font-size 0
                flex-wrap wrap
                align-items center
                +mobile()
                    width 100%
                a
                    display inline-block
                    vertical-align top
                    width calc('33.333% - 8px')
                    margin-right 10px
                    margin-bottom 10px
                    position relative
                    img
                        max-width 100%
                        display block
                        margin 0 auto
                    .overlay
                        width 60px
                        height 60px
                        position absolute
                        top 20%
                        left 50%
                        margin-left -25px
                        margin-top -30px
                        background rgba($azulMarca, .8)
                        border-radius 100%
                        opacity 0
                        transition all .3s
                        &:after
                            content ''
                            position absolute
                            top 50%
                            left 50%
                            width 1px
                            height 30px
                            margin-top -15px
                            background #fff
                        &:before
                            content ''
                            position absolute
                            top 50%
                            left 50%
                            height 1px
                            width 30px
                            margin-left -15px
                            background #fff
                    &:hover .overlay
                        opacity 1
                        top 50%
                    &:nth-child(3n)
                        margin-right 0
        .compartilhamento
            clear both
            float left
            width 100%
            margin 30px 0
