.representantes
    position relative
    padding 50px 0
    +mobile()
        padding 25px 0
    .representantes-busca
        clearfix()
        .representantes-mapa
            width 391px
            float right
            background #EDB900
            +mobile()
                display none
            #mapa
                margin 20px
                width 360px
                height 310px
                background url('../../images/layout/mapa-brasil-completo.gif') no-repeat center bottom
                position relative
                a
                    position: absolute
                    background: transparent url('../../images/layout/mapa-brasil-estados.gif') no-repeat left top
                    text-indent -9999px
                    opacity 0
                    transition opacity .3s
                    &:hover
                    &.active
                        opacity 1
                    &.ac
                        background-position left 0px
                        top 116px
                        left 34px
                        width 56px
                        height 28px
                    &.al
                        background-position left -32px
                        top 133px
                        left 299px
                        width 21px
                        height 12px
                    &.am
                        background-position left -49px
                        top 40px
                        left 35px
                        width 130px
                        height 91px
                    &.ap
                        background-position left -145px
                        top 27px
                        left 177px
                        width 38px
                        height 41px
                        z-index 9991
                    &.ba
                        background-position left -191px
                        top 128px
                        left 236px
                        width 76px
                        height 78px
                    &.ce
                        background-position left -279px
                        top 85px
                        left 277px
                        width 29px
                        height 39px
                    &.es
                        background-position left -323px
                        top 198px
                        left 265px
                        width 18px
                        height 24px
                        z-index 9992
                    &.go
                        background-position left -352px
                        top 150px
                        left 186px
                        width 50px
                        height 55px
                        z-index 9991
                    &.ma
                        background-position left -412px
                        top 70px
                        left 223px
                        width 51px
                        height 68px
                        z-index 9991
                    &.mt
                        background-position left -610px
                        top 114px
                        left 127px
                        width 84px
                        height 76px
                    &.ms
                        background-position left -553px
                        top 186px
                        left 150px
                        width 51px
                        height 52px
                    &.mg
                        background-position left -485px
                        top 168px
                        left 204px
                        width 79px
                        height 63px
                    &.pa
                        background-position left -691px
                        top 39px
                        left 146px
                        width 96px
                        height 94px
                    &.pb
                        background-position left -790px
                        top 112px
                        left 297px
                        width 29px
                        height 16px
                        z-index 9991
                    &.pr
                        background-position left -899px
                        top 226px
                        left 176px
                        width 43px
                        height 31px
                    &.pe
                        background-position left -811px
                        top 119px
                        left 277px
                        width 48px
                        height 19px
                    &.pi
                        background-position left -835px
                        top 84px
                        left 241px
                        width 41px
                        height 59px
                    &.rj
                        background-position left -935px
                        top 219px
                        left 243px
                        width 28px
                        height 16px
                    &.rn
                        background-position left -956px
                        top 103px
                        left 298px
                        width 27px
                        height 16px
                    &.rs
                        background-position left -1080px
                        top 260px
                        left 156px
                        width 56px
                        height 49px
                    &.ro
                        background-position left -977px
                        top 117px
                        left 88px
                        width 49px
                        height 44px
                    &.rr
                        background-position left -1026px
                        top 18px
                        left 103px
                        width 43px
                        height 49px
                    &.sc
                        background-position left -1134px
                        top 252px
                        left 181px
                        width 35px
                        height 24px
                    &.sp
                        background-position left -1183px
                        top 205px
                        left 189px
                        width 55px
                        height 41px
                    &.se
                        background-position left -1163px
                        top 137px
                        left 298px
                        width 13px
                        height 15px
                    &.to
                        background-position left -1229px
                        top 99px
                        left 207px
                        width 34px
                        height 62px
                    &.df
                        background-position left -1296px
                        top 176px
                        left 221px
                        width 6px
                        height 4px
                        z-index 9999
        h1
            raleway 36 bold
            margin 0 0 .5em
            color $azulMarca
            text-align center
            +mobile()
                text-align left
                font-size 18px
        .texto
            width calc('100% - 490px')
            float left
            +mobile()
                width 100%
            p
                opensans 16 bold
                color $azulEscuro
                margin 0 0 35px
                text-transform uppercase
            +mobile()
                p
                    font-size 15px
                    margin-bottom 20px
            form
                select
                    width 100%
                    max-width 500px
                    background $azulClaro
                    color $azulMarca
                    opensans 16
                    border 0
                    outline 0
                    height 30px
                    +tablet()
                        width 250px
                    +mobile()
                        max-width 100%
                input
                    display block
                    width 250px
                    margin-top 5px
                    background $azulMarca
                    border 0
                    outline 0
                    color #fff
                    opensans 16 bold
                    padding 14px 0
                    transition background .3s
                    &:hover
                        background $azulEscuro
                    +mobile()
                        width 100%
                        padding 10px 0
                        font-size 15px
    .representantes-resultados
        margin-top 20px
        font-size 0
        display flex
        flex-wrap wrap
        div
            display inline-block
            vertical-align top
            width calc('33.333% - 10px')
            border 2px solid $azulClaro
            padding 20px
            opensans 14
            color $azulMarca
            margin-right 15px
            margin-bottom 15px
            a
                &:hover
                    color $azulEscuro
            &:nth-child(3n)
                margin-right 0
            +tablet()
                width calc('50% - 8px')
                margin-right 16px
                margin-bottom 16px
                &:nth-child(3n)
                    margin-right 16px
                &:nth-child(2n)
                    margin-right 0
            +mobile()
                width 100%
                margin-right 0
    .representantes-fail
        text-align center
        padding-top 20px
        h2
            border 2px solid $azulClaro
            color $azulMarca
            opensans 14 bold
            margin 0
            text-transform uppercase
            padding 12px

.promocao-penaestrada
    background url('../../images/promocao-penaestrada/bg.png') no-repeat center bottom
    position relative
    padding-bottom 110px
    +tablet()
        padding-bottom 200px
    .center
        clearfix()
    .imagem
        float left
        margin-left -250px
        +below($tablet)
            width 500px
            margin-left -200px
    .texto
        width 600px
        float right
        padding-top 70px
        +tablet()
            width calc('100% - 350px')
            padding-top 20px
            img
                max-width 100%
        +mobile()
            width 100%
            padding-top 20px
            img
                max-width 100%
        p
            raleway 14
            color $azulMarca
            line-height 1.5
            max-width 450px
            margin 35px 0 85px
            padding-left 20px
            +below($tablet)
                margin-bottom 35px
            span
                color #EC268F
        a
            display inline-block
            margin-left 20px
            background $azulMarca
            raleway 15
            letter-spacing 1px
            color #fff
            padding 16px 22px
            transition background .3s
            &:hover
                background #EC268F
    +mobile()
        background none
        padding-bottom 30px
    .detalhe
        position absolute
        right -130px
        bottom -64px
        +below($tablet)
            display none
    + .representantes
        +above($mobile)
            padding 30px 0 50px
        background $azulClaro
        select
            background #fff !important
        .representantes-resultados
            div
                border-color #fff !important
