.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.clear {
  clear: both;
}
.w980 {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}
.main {
  padding-bottom: 290px !important;
}
.main .centro h1 {
  margin-bottom: 10px;
  font-family: 'kg_ten_thousand_reasonsRg', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 35px;
  font-weight: normal;
  color: #ccff66;
}
.main .centro h1 span {
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding-left: 15px;
}
.main .centro h2 {
  margin-top: 20px;
  font-family: 'hff_low_sunregular', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #ccff66;
}
.main .centro h2 span {
  border-bottom: 1px #ccff66 solid;
  padding-bottom: 3px;
}
.main .centro .posts .grid a.post-thumb {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  margin-bottom: 20px;
}
.main .centro .posts .grid a.post-thumb .pad {
  margin: 0 auto;
  max-width: 304px;
  padding: 5% 0;
}
.main .centro .posts .grid a.post-thumb .pad .imagem {
  position: relative;
}
.main .centro .posts .grid a.post-thumb .pad .imagem img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
  border: 1px #ccff66 solid;
}
.main .centro .posts .grid a.post-thumb .pad .imagem .data {
  width: 150px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: -19px;
  background: url('../../images/consumidor/layout/fita-verde-data.png') left top no-repeat;
  color: #373435;
  font-family: 'hff_low_sunregular', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 19px;
  font-weight: normal;
  text-align: center;
}
.main .centro .posts .grid a.post-thumb .pad .titulo {
  font-family: 'kg_ten_thousand_reasonsRg', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #ccff66;
  margin-top: 10px;
}
.main .centro .posts .grid a.post-thumb .pad .num_comentarios {
  color: #fff;
  font-family: 'hff_low_sunregular', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 15px;
  font-weight: normal;
  margin: 10px 0;
  padding-left: 30px;
  background: url('../../images/consumidor/layout/fiquepordentro-seta-branca.png') left center no-repeat;
}
.main .centro .posts .grid a.post-thumb .pad .compartilhe {
  background: url('../../images/consumidor/layout/que-tal-compartilhar.png') 50% center no-repeat;
  padding-left: 60%;
  color: #00FFFF;
  font-family: 'hff_low_sunregular', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 120%;
}
.main .centro .posts .grid a.post-thumb:nth-child(3n+2) .pad {
  padding: 5% 10%;
}
.main .centro .posts #ver-mais-posts {
  display: block;
  text-align: center;
  color: #fff;
  font-family: 'kg_ten_thousand_reasonsRg', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .centro .posts #ver-mais-posts:active,
.main .centro .posts #ver-mais-posts:visited {
  color: #fff;
}
.main .centro .posts #ver-mais-posts:hover {
  color: #00FFFF;
}
.main .centro .detalhe .fb-comments {
  background-color: #fff;
}
.main .centro .detalhe .fb-comments,
.main .centro .detalhe .fb-comments span,
.main .centro .detalhe .fb-comments iframe {
  width: 100% !important;
}
.main .centro .detalhe .detalhe-post {
  position: relative;
}
.main .centro .detalhe .detalhe-post .data {
  height: 30px;
  color: #FFF;
  margin-top: 3px;
  margin-bottom: 5px;
  font-family: 'hff_low_sunregular', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 19px;
  font-weight: normal;
}
.main .centro .detalhe .detalhe-post .titulo {
  position: absolute;
  top: 35px;
  left: 0;
  background-color: #ccff66;
  color: #373435;
  font-family: 'kg_ten_thousand_reasonsRg', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 140%;
  padding: 4%;
  width: 92%;
  -webkit-border-radius: 0 30px 0 30px;
  -moz-border-radius: 0 30px 0 30px;
  -o-border-radius: 0 30px 0 30px;
  border-radius: 0 30px 0 30px;
  behavior: url('PIE.htc');
}
.main .centro .detalhe .detalhe-post .img-principal {
  -webkit-border-radius: 0 30px 0 0;
  -moz-border-radius: 0 30px 0 0;
  -o-border-radius: 0 30px 0 0;
  border-radius: 0 30px 0 0;
  behavior: url('PIE.htc');
  width: 96%;
  margin-left: 4%;
}
.main .centro .detalhe .detalhe-post .content {
  padding-left: 4%;
}
.main .centro .detalhe .detalhe-post .content p {
  color: #fff;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 150%;
  margin: 10px 0;
}
.main .centro .detalhe .detalhe-post .content img {
  max-width: 100%;
  display: block;
  margin: 10px auto;
}
.main .centro .detalhe .detalhe-post .likes {
  padding: 40px 0;
}
.main .centro .detalhe .detalhe-post .nav {
  border-top: 2px #ccff66 solid;
  padding: 15px 0;
  height: 30px;
}
.main .centro .detalhe .detalhe-post .nav a {
  min-height: 11px;
  color: #ccff66;
  font-family: 'hff_low_sunregular', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 16px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .centro .detalhe .detalhe-post .nav a.next {
  float: right;
  padding-right: 28px;
  background: url('../../images/consumidor/layout/seta-proximopost.png') right center no-repeat;
}
.main .centro .detalhe .detalhe-post .nav a.prev {
  float: left;
  padding-left: 28px;
  background: url('../../images/consumidor/layout/seta-postanterior.png') left center no-repeat;
}
.main .centro .detalhe .detalhe-post .nav a:active,
.main .centro .detalhe .detalhe-post .nav a:visited {
  color: #ccff66;
}
.main .centro .detalhe .detalhe-post .nav a:hover {
  color: #fff;
}
.main .centro .detalhe .lateral-post .pad {
  padding-left: 30px;
  padding-top: 50px;
}
.main .centro .detalhe .lateral-post .pad aside.categorias {
  color: #ccff66;
  font-family: 'hff_low_sunregular', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.main .centro .detalhe .lateral-post .pad aside.categorias ul {
  border-top: 1px #ccff66 solid;
  padding: 6px 0;
}
.main .centro .detalhe .lateral-post .pad aside.categorias ul li {
  list-style: inside square;
  color: #ccff66;
}
.main .centro .detalhe .lateral-post .pad aside.categorias ul li a {
  color: #ccff66;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .centro .detalhe .lateral-post .pad aside.categorias ul li a:active,
.main .centro .detalhe .lateral-post .pad aside.categorias ul li a:visited {
  color: #ccff66;
}
.main .centro .detalhe .lateral-post .pad aside.categorias ul li a:hover {
  color: #fff;
}
.main .centro .detalhe .lateral-post .pad #fb-comments {
  margin-top: 60px;
}
