.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.clear {
  clear: both;
}
.w980 {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}
body .main {
  background: url('../../images/consumidor/layout/bg-lousa.jpg');
}
body .main #slides {
  width: 100%;
}
@media only screen and (min-width: 980px) {
  body .main #slides {
    height: 610px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  body .main #slides a {
    background-size: auto auto;
    height: 610px;
  }
}
@media only screen and (min-width: 700px) and (max-width: 979px) {
  body .main #slides {
    height: 435px;
    position: relative;
    z-index: 0;
  }
  body .main #slides a {
    background-size: auto 100%;
    height: 435px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 699px) {
  body .main #slides {
    height: 250px;
    position: relative;
    z-index: 0;
  }
  body .main #slides a {
    background-size: auto 100%;
    height: 250px;
  }
}
body .main #slides a {
  text-indent: -9999px;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center top;
  display: block;
  width: 100%;
}
body .main #carrossel {
  width: 100%;
  background-color: #fff;
  position: relative;
  min-height: 195px;
}
@media only screen and (min-width: 980px) {
  body .main #carrossel {
    margin-top: 406px;
  }
}
body .main #carrossel .centro {
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  position: relative;
  min-height: 195px;
}
body .main #carrossel .centro .pure-g {
  display: none;
}
body .main #carrossel .centro .pure-g.show {
  display: block;
}
body .main #carrossel .centro a:hover .thumb img {
  opacity: .6;
}
body .main #carrossel .centro a .thumb {
  padding: 10%;
  overflow: hidden;
}
body .main #carrossel .centro a .thumb img {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 1;
  max-width: 100%;
  max-height: 162px;
}
@media only screen and (min-width: 700px) and (max-width: 979px) {
  body .main #carrossel .centro a.pure-u-1-8:nth-child(2n+1) {
    display: none;
    width: 0;
  }
  body .main #carrossel .centro a.pure-u-1-8:nth-child(2n) {
    width: 24.99%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 699px) {
  body .main #carrossel .centro a.pure-u-1-8:nth-child(2n+1) {
    display: none;
    width: 0;
  }
  body .main #carrossel .centro a.pure-u-1-8:nth-child(2n) {
    width: 24.99%;
  }
}
body .main .centro {
  width: 100%;
  max-width: 1200px;
}
body .main .centro .chamada-produtos {
  padding: 4% 8%;
}
body .main .centro .chamada-produtos ul {
  list-style: none;
}
@media only screen and (min-width: 1200px) {
  body .main .centro .chamada-produtos ul {
    background: url('../../images/consumidor/layout/caderno-completo.png') center center no-repeat;
    padding: 10% 0 0 0;
    min-height: 240px;
    background-size: 100% auto;
  }
}
@media only screen and (min-width: 980px) and (max-width: 1199px) {
  body .main .centro .chamada-produtos ul {
    background: url('../../images/consumidor/layout/caderno-completo.png') center center no-repeat;
    padding: 18% 0 0 0;
    min-height: 240px;
    background-size: 100% auto;
  }
}
@media only screen and (min-width: 700px) and (max-width: 979px) {
  body .main .centro .chamada-produtos ul {
    background: url('../../images/consumidor/layout/caderno-completo.png') left center no-repeat;
    padding: 0 0 0 0;
    min-height: 305px;
    background-size: auto 100%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 699px) {
  body .main .centro .chamada-produtos ul {
    background: url('../../images/consumidor/layout/caderno-completo-2.png') left center no-repeat;
    padding: 0 0 0 0;
    min-height: 300px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 699px) {
  body .main .centro .chamada-produtos ul {
    background-size: auto 100%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 320px) {
  body .main .centro .chamada-produtos ul {
    background-size: 100% auto;
  }
}
body .main .centro .chamada-produtos ul li a {
  line-height: 140%;
  color: #1a5da6;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main .centro .chamada-produtos ul li a:active,
body .main .centro .chamada-produtos ul li a:visited {
  color: #1a5da6;
}
body .main .centro .chamada-produtos ul li a:hover {
  color: #3d8710;
}
@media only screen and (min-width: 1200px) {
  body .main .centro .chamada-produtos ul li a {
    font-family: 'hff_low_sunregular', 'Arial', 'Verdana', 'Tahoma', sans-serif;
    font-size: 26px;
    font-weight: normal;
    padding-left: 7%;
  }
}
@media only screen and (min-width: 980px) and (max-width: 1199px) {
  body .main .centro .chamada-produtos ul li a {
    font-family: 'hff_low_sunregular', 'Arial', 'Verdana', 'Tahoma', sans-serif;
    font-size: 20px;
    font-weight: normal;
    padding-left: 7%;
  }
}
@media only screen and (min-width: 700px) and (max-width: 979px) {
  body .main .centro .chamada-produtos ul li a {
    font-family: 'hff_low_sunregular', 'Arial', 'Verdana', 'Tahoma', sans-serif;
    font-size: 22px;
    font-weight: normal;
    padding-left: 16%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 699px) {
  body .main .centro .chamada-produtos ul li a {
    font-family: 'hff_low_sunregular', 'Arial', 'Verdana', 'Tahoma', sans-serif;
    font-size: 25px;
    font-weight: normal;
    padding-left: 14%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 320px) {
  body .main .centro .chamada-produtos ul li a {
    font-family: 'hff_low_sunregular', 'Arial', 'Verdana', 'Tahoma', sans-serif;
    font-size: 23px;
    font-weight: normal;
    padding-left: 10%;
  }
}
@media only screen and (min-width: 700px) and (max-width: 979px) {
  body .main .centro .chamada-produtos ul li:first-child {
    padding-top: 10%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 699px) {
  body .main .centro .chamada-produtos ul li:first-child {
    padding-top: 16%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 320px) {
  body .main .centro .chamada-produtos ul li:first-child {
    padding-top: 24%;
  }
}
@media only screen and (min-width: 700px) and (max-width: 979px) {
  body .main .centro .chamada-concurso a {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  body .main .centro .chamada-concurso a img {
    max-width: 100%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 699px) {
  body .main .centro .chamada-concurso a {
    width: 94%;
    display: block;
    margin: 0 auto;
  }
  body .main .centro .chamada-concurso a img {
    max-width: 100%;
  }
}
@media only screen and (min-width: 980px) {
  body .main .centro .chamada-noticias {
    padding: 7% 0 4% 8%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 979px) {
  body .main .centro .chamada-noticias {
    padding: 7% 8% 4% 8%;
  }
}
body .main .centro .chamada-noticias .padding-noticias {
  background: url('../../images/consumidor/layout/fiquepordentro-faixasuperior.png') left top no-repeat;
  background-size: 100% 32px;
}
body .main .centro .chamada-noticias .padding-noticias a.link-topo {
  color: #ccff66;
  padding-top: 10px;
  display: block;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main .centro .chamada-noticias .padding-noticias a.link-topo:active,
body .main .centro .chamada-noticias .padding-noticias a.link-topo:visited {
  color: #ccff66;
}
body .main .centro .chamada-noticias .padding-noticias a.link-topo:hover {
  color: #00ccff;
}
@media only screen and (min-width: 1200px) {
  body .main .centro .chamada-noticias .padding-noticias a.link-topo {
    background: url('../../images/consumidor/layout/fiquepordentro-desenho.png') 95% center no-repeat;
  }
}
@media only screen and (min-width: 700px) and (max-width: 979px) {
  body .main .centro .chamada-noticias .padding-noticias a.link-topo {
    background: url('../../images/consumidor/layout/fiquepordentro-desenho.png') 95% center no-repeat;
  }
}
body .main .centro .chamada-noticias .padding-noticias a.link-topo span {
  padding-left: 1%;
  padding-top: 5%;
  font-family: 'kg_ten_thousand_reasonsRg', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 26px;
  font-weight: normal;
}
body .main .centro .chamada-noticias .padding-noticias a.link-topo p {
  font-family: 'Verdana', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 10px;
  font-weight: normal;
  padding-right: 45%;
  line-height: 140%;
  min-height: 83px;
}
body .main .centro .chamada-noticias .padding-noticias ul {
  padding-bottom: 29px;
  background: url('../../images/consumidor/layout/fiquepordentro-faixainferior.png') left bottom no-repeat;
  background-size: 100% 29px;
}
body .main .centro .chamada-noticias .padding-noticias ul li {
  margin: 30px 0;
}
body .main .centro .chamada-noticias .padding-noticias ul li a {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background: url('../../images/consumidor/layout/fiquepordentro-seta.png') right bottom no-repeat;
}
body .main .centro .chamada-noticias .padding-noticias ul li a img {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -moz-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  border: 5px #ccff66 solid;
  max-width: 85%;
}
body .main .centro .chamada-noticias .padding-noticias ul li a p {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding: 2% 0;
  line-height: 150%;
  color: #ccff66;
  font-family: 'kg_ten_thousand_reasonsRg', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
body .main .centro .chamada-noticias .padding-noticias ul li a:hover {
  background: url('../../images/consumidor/layout/fiquepordentro-seta-azul.png') right bottom no-repeat;
}
body .main .centro .chamada-noticias .padding-noticias ul li a:hover img {
  border-color: #00ccff;
}
body .main .centro .chamada-noticias .padding-noticias ul li a:hover p {
  color: #00ccff;
}
body .main .chamada-temas h1 {
  color: #fff;
  font-family: 'kg_ten_thousand_reasonsRg', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 24px;
  font-weight: normal;
}
@media only screen and (min-width: 1200px) {
  body .main .chamada-temas h1 {
    padding: 4px 0;
  }
}
@media only screen and (min-width: 980px) and (max-width: 1199px) {
  body .main .chamada-temas h1 {
    padding: 20px 0 0 0;
  }
}
body .main .chamada-temas .link-temas {
  padding: 5% 7%;
  position: relative;
}
body .main .chamada-temas .link-temas:hover .botoes {
  opacity: 1;
}
body .main .chamada-temas .link-temas img {
  max-width: 100%;
  position: relative;
  z-index: 0;
}
body .main .chamada-temas .link-temas .botoes {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  text-align: center;
}
body .main .chamada-temas .link-temas .botoes a {
  background-color: #1a5da6;
  color: #fff;
  text-align: center;
  margin: 2px auto;
  display: block;
  width: 45%;
  padding: 2px 10px;
  font-family: 'Verdana', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 10px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main .chamada-temas .link-temas .botoes a:first-child {
  margin-top: 20%;
}
body .main .chamada-temas .link-temas .botoes a:active,
body .main .chamada-temas .link-temas .botoes a:visited {
  color: #fff;
}
body .main .chamada-temas .link-temas .botoes a:hover {
  color: #a2cf6d;
}
body .main .chamada-temas .box-lista {
  padding: 4%;
}
body .main .chamada-temas .box-lista span {
  color: #fff;
  font-family: 'kg_ten_thousand_reasonsRg', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 19px;
  font-weight: normal;
}
body .main .chamada-temas .box-lista ul {
  list-style: none;
}
body .main .chamada-temas .box-lista ul li a {
  line-height: 120%;
  font-family: 'kg_ten_thousand_reasonsRg', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 13px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #fff;
}
body .main .chamada-temas .box-lista ul li a:active,
body .main .chamada-temas .box-lista ul li a:visited {
  color: #fff;
}
body .main .chamada-temas .box-lista ul li a:hover {
  color: #007cc3;
}
