@import 'vars.less';

@amarelo:#FDFD64;

.main{
	.centro{
		max-width:1200px;
		width:100%;
		margin:0 auto;
		h1{
			color:@amarelo;
			margin-bottom:10px;
			.kgten(35px);
			padding-left:4%;
			span{
				padding-left:20px;
				.calibri(16px);
			}
		}
		.grid-contato{
			.form{
				.pad{
					padding-left:20%;
					padding-top:40px;
				}
				form{
					label{
						.hff(16px);
						display:block;
						color:@amarelo;
						margin-bottom:10px;
						input{
							border:0;
							margin:3px 0 7px 0;
							padding:2px 5% 6px 5%;
							width:90%;
							color:@amarelo;
							.hff(18px);
							background:url('../../images/consumidor/layout/contato-campos-form.png') left bottom no-repeat;
							background-size: 100% 21px;
						}
						textarea{
							border:0;
							margin:3px 0 7px 0;
							padding:2px 5% 6px 5%;
							width:90%;
							color:@amarelo;
							.hff(18px);
							background:url('../../images/consumidor/layout/contato-campos-form.png') left bottom no-repeat;
							background-size: 100% 21px;
							height:90px;
							resize:none;
							overflow:auto;
						}
					}
					input[type="submit"]{
						.kgten(20px);
						color:#373435;
						border:0;
						margin:10px 0;
						padding:0;
						width:105px;
						height:40px;
						display:block;
						cursor:pointer;
						line-height:46px;
						background:@amarelo;
						.transition;
						&:active, &:visited{color:#373435;}
						&:hover{background-color:@verde_bright;}
					}
				}
			}
			.ilustracoes{
				.pad{
					padding-left:20%;
					.ilust1{
						width:100%;
						img{
							display:block;
							margin:auto;
							width:80%;
						}
					}
					.press{
						padding:20px 0 40px 0;
						h3{
							color:@amarelo;
							.kgten(20px);
							padding-bottom: 20px;
						}
						img{
							display:block;							
						}
						p{
							color:#fff;
							.calibri(14px);
							padding-left:30px;
							line-height:130%;
							margin-left:30px;
							border-left:1px #fff solid;
							a{
								color:#fff;
								.transition;
								&:active, &:visited{color:#fff;}
								&:hover{color:@amarelo;}
							}
						}
					}
					.ilust2{
						img{
							max-width:100%;
						}
						h1{
							padding-left:5%;
							color:#fff;
							line-height:130%;
							.kgten(18px);
						}
						h3{
							padding-left:5%;
							color:#fff;
							.calibri(14px);
							line-height:130%;
							a{
								color:#fff;
								.transition;
								&:active, &:visited{color:#fff;}
								&:hover{color:@amarelo;}
							}
						}
						h2{
							margin-top:10px;
							color:#fff;
							line-height:130%;
							.calibri(20px);
							padding-left:5%;
						}
					}
				}
			}
		}
	}
}