.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.clear {
  clear: both;
}
.w980 {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}
.main .centro {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.main .centro h1 {
  color: #fdfd64;
  margin-bottom: 10px;
  font-family: 'kg_ten_thousand_reasonsRg', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 35px;
  font-weight: normal;
  padding-left: 4%;
}
.main .centro h1 span {
  padding-left: 20px;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
.main .centro .grid-contato .form .pad {
  padding-left: 20%;
  padding-top: 40px;
}
.main .centro .grid-contato .form form label {
  font-family: 'hff_low_sunregular', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 16px;
  font-weight: normal;
  display: block;
  color: #fdfd64;
  margin-bottom: 10px;
}
.main .centro .grid-contato .form form label input {
  border: 0;
  margin: 3px 0 7px 0;
  padding: 2px 5% 6px 5%;
  width: 90%;
  color: #fdfd64;
  font-family: 'hff_low_sunregular', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 18px;
  font-weight: normal;
  background: url('../../images/consumidor/layout/contato-campos-form.png') left bottom no-repeat;
  background-size: 100% 21px;
}
.main .centro .grid-contato .form form label textarea {
  border: 0;
  margin: 3px 0 7px 0;
  padding: 2px 5% 6px 5%;
  width: 90%;
  color: #fdfd64;
  font-family: 'hff_low_sunregular', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 18px;
  font-weight: normal;
  background: url('../../images/consumidor/layout/contato-campos-form.png') left bottom no-repeat;
  background-size: 100% 21px;
  height: 90px;
  resize: none;
  overflow: auto;
}
.main .centro .grid-contato .form form input[type="submit"] {
  font-family: 'kg_ten_thousand_reasonsRg', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #373435;
  border: 0;
  margin: 10px 0;
  padding: 0;
  width: 105px;
  height: 40px;
  display: block;
  cursor: pointer;
  line-height: 46px;
  background: #fdfd64;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .centro .grid-contato .form form input[type="submit"]:active,
.main .centro .grid-contato .form form input[type="submit"]:visited {
  color: #373435;
}
.main .centro .grid-contato .form form input[type="submit"]:hover {
  background-color: #ccff66;
}
.main .centro .grid-contato .ilustracoes .pad {
  padding-left: 20%;
}
.main .centro .grid-contato .ilustracoes .pad .ilust1 {
  width: 100%;
}
.main .centro .grid-contato .ilustracoes .pad .ilust1 img {
  display: block;
  margin: auto;
  width: 80%;
}
.main .centro .grid-contato .ilustracoes .pad .press {
  padding: 20px 0 40px 0;
}
.main .centro .grid-contato .ilustracoes .pad .press h3 {
  color: #fdfd64;
  font-family: 'kg_ten_thousand_reasonsRg', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
  padding-bottom: 20px;
}
.main .centro .grid-contato .ilustracoes .pad .press img {
  display: block;
}
.main .centro .grid-contato .ilustracoes .pad .press p {
  color: #fff;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding-left: 30px;
  line-height: 130%;
  margin-left: 30px;
  border-left: 1px #fff solid;
}
.main .centro .grid-contato .ilustracoes .pad .press p a {
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .centro .grid-contato .ilustracoes .pad .press p a:active,
.main .centro .grid-contato .ilustracoes .pad .press p a:visited {
  color: #fff;
}
.main .centro .grid-contato .ilustracoes .pad .press p a:hover {
  color: #fdfd64;
}
.main .centro .grid-contato .ilustracoes .pad .ilust2 img {
  max-width: 100%;
}
.main .centro .grid-contato .ilustracoes .pad .ilust2 h1 {
  padding-left: 5%;
  color: #fff;
  line-height: 130%;
  font-family: 'kg_ten_thousand_reasonsRg', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
.main .centro .grid-contato .ilustracoes .pad .ilust2 h3 {
  padding-left: 5%;
  color: #fff;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 130%;
}
.main .centro .grid-contato .ilustracoes .pad .ilust2 h3 a {
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .centro .grid-contato .ilustracoes .pad .ilust2 h3 a:active,
.main .centro .grid-contato .ilustracoes .pad .ilust2 h3 a:visited {
  color: #fff;
}
.main .centro .grid-contato .ilustracoes .pad .ilust2 h3 a:hover {
  color: #fdfd64;
}
.main .centro .grid-contato .ilustracoes .pad .ilust2 h2 {
  margin-top: 10px;
  color: #fff;
  line-height: 130%;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
  padding-left: 5%;
}
