.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.clear {
  clear: both;
}
.w980 {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}
.main .centro {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 60px;
}
.main .centro h1 {
  color: #fdfd64;
  margin-bottom: 10px;
  font-family: 'kg_ten_thousand_reasonsRg', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 35px;
  font-weight: normal;
  padding-left: 4%;
}
.main .centro h1 span {
  padding-left: 20px;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
.main .centro h1.laranja {
  color: #ff9933;
  padding-left: 0;
  font-size: 30px;
  margin-top: 60px;
}
.main .centro .botao-laranja {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background: #ff9933;
  color: #333;
  padding: 0 30px;
  height: 40px;
  line-height: 46px;
  font-family: 'kg_ten_thousand_reasonsRg', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
.main .centro .botao-laranja:active,
.main .centro .botao-laranja:visited {
  color: #333;
}
.main .centro .botao-laranja:hover {
  background: #fdfd64;
}
.main .centro .grid-encontrar .form .pad {
  padding-left: 10%;
  padding-top: 30px;
}
.main .centro .grid-encontrar .form form label {
  font-family: 'hff_low_sunregular', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 16px;
  font-weight: normal;
  display: block;
  color: #fdfd64;
  margin-bottom: 15px;
}
.main .centro .grid-encontrar .form form label input[type="text"] {
  color: #373435;
  border: 0;
  margin: 3px 0 7px 0;
  padding: 2px 5% 6px 5%;
  width: 90%;
  background: #fdfd64;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
.main .centro .grid-encontrar .form form label input[type="text"]::-webkit-input-placeholder {
  color: #373435;
}
.main .centro .grid-encontrar .form form label input[type="text"]:-moz-placeholder {
  color: #373435;
}
.main .centro .grid-encontrar .form form label input[type="text"]::-moz-placeholder {
  color: #373435;
}
.main .centro .grid-encontrar .form form label input[type="text"]:-ms-input-placeholder {
  color: #373435;
}
.main .centro .grid-encontrar .form form label select {
  color: #373435;
  border: 0;
  margin: 3px 0 7px 0;
  padding: 2px 5% 6px 5%;
  width: 100%;
  display: block;
  background: #fdfd64;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
.main .centro .grid-encontrar .form form input[type="submit"] {
  font-family: 'kg_ten_thousand_reasonsRg', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #373435;
  border: 0;
  margin: 25px 0;
  padding: 0;
  width: 155px;
  height: 40px;
  display: block;
  cursor: pointer;
  line-height: 46px;
  background: #fdfd64;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .centro .grid-encontrar .form form input[type="submit"]:active,
.main .centro .grid-encontrar .form form input[type="submit"]:visited {
  color: #373435;
}
.main .centro .grid-encontrar .form form input[type="submit"]:hover {
  background-color: #ccff66;
}
.main .centro .grid-encontrar .ilustracoes .pad {
  padding-left: 20%;
  padding-top: 30px;
}
.main .centro .grid-encontrar .ilustracoes .pad .ilust1 {
  max-width: 100%;
}
.main .centro .grid-encontrar .ilustracoes .pad .ilust1 img {
  max-width: 100%;
}
.main .centro .grid-encontrar .ilustracoes .pad h2 {
  color: #fff;
  font-family: 'kg_ten_thousand_reasonsRg', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
}
.main .centro .grid-encontrar .ilustracoes .pad h2.laranja {
  color: #ff9933;
  margin-bottom: 15px;
}
.main .centro .grid-encontrar .ilustracoes .pad .listaLojasVirtuais .internalPad a {
  max-width: 252;
  margin-bottom: 30px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .centro .grid-encontrar .ilustracoes .pad .listaLojasVirtuais .internalPad a:hover .imagem {
  border-color: #fdfd64;
}
.main .centro .grid-encontrar .ilustracoes .pad .listaLojasVirtuais .internalPad a:hover h2 {
  color: #fdfd64;
}
.main .centro .grid-encontrar .ilustracoes .pad .listaLojasVirtuais .internalPad a .imagem {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding: 20px;
  background: #fff;
  border: 1px #ff9933 solid;
  margin-bottom: 10px;
}
.main .centro .grid-encontrar .ilustracoes .pad .listaLojasVirtuais .internalPad a .imagem img {
  display: block;
  margin: 0 auto;
  max-width: 210px;
}
.main .centro .grid-encontrar .ilustracoes .pad .listaLojasVirtuais .internalPad a h2 {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  line-height: 100%;
  color: #ff9933;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
.main .centro .grid-encontrar .ilustracoes .pad h3 {
  color: #fdfd64;
  font-family: 'kg_ten_thousand_reasonsRg', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 15px;
  font-weight: normal;
  margin: 20px 0;
}
.main .centro .grid-encontrar .ilustracoes .pad ul {
  list-style: none;
  margin: 20px 0;
}
.main .centro .grid-encontrar .ilustracoes .pad ul li {
  width: 85%;
  padding: 20px 0;
  border-bottom: 1px #fdfd64 solid;
}
.main .centro .grid-encontrar .ilustracoes .pad ul li p {
  color: #fff;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
