@import 'vars.less';

.main{
	h1.embreve{
		max-width:1200px;
		width:100%;
		margin:30px auto;
		text-align:center;
		color:#fff;
		.kgten(22px);
		height:auto;
	}
	
	a.banner-promocao{
		display: block;
		margin:20px auto;
		text-align:center;
	}
}