@font-face {
    font-family: 'hff_low_sunregular';
    src: url('hff_low_sun_0-webfont.eot');
    src: url('hff_low_sun_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('hff_low_sun_0-webfont.woff') format('woff'),
         url('hff_low_sun_0-webfont.ttf') format('truetype'),
         url('hff_low_sun_0-webfont.svg#hff_low_sunregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kg_ten_thousand_reasonsRg';
    src: url('kgtenthousandreasons-webfont.eot');
    src: url('kgtenthousandreasons-webfont.eot?#iefix') format('embedded-opentype'),
         url('kgtenthousandreasons-webfont.woff') format('woff'),
         url('kgtenthousandreasons-webfont.ttf') format('truetype'),
         url('kgtenthousandreasons-webfont.svg#kg_ten_thousand_reasonsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}